/*========== base styles ==========*/


body {
  background-color: rgb(6,55,83);
  overflow: hidden;
  /*fonts*/
  color: rgb(255, 255, 255);
  font-family: "Helvetica Neue", Helvetica, "Open Sans";
  font-size: 13px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .4px;
  line-height: 1.2;
  margin: 0;
  overflow: hidden; 
  -webkit-font-smoothing: antialiased;

}

a {
  color: inherit;
  text-decoration: none;
  opacity: .85;
  transition: opacity .15s cubic-bezier(0, 0, 0.2, 1);  
  cursor: pointer;
}

a:hover,
a:focus {
  opacity: 1;
  text-decoration: underline;
}

a:active {
  opacity: .75;
}

p a {
  text-decoration: underline;
}

hr {
  width: 100%;
  border: 1px solid rgba(255,255,255,0.08);
}

input {
  outline: none;
  font-size: 14px;
}

input::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  opacity: .5;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .5px;
}

input,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
select,
textarea {
  border: none;
  color: #000;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-size: 14px;
  font-weight: 500;
}

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 90%;
  height: 6px;
  background: #ccc;
  border: none;
  border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: #777;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #eee;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255,255,255,0.9);
}

form {
  margin: 0;
}



/*========== structure classes ==========*/

#content {
  margin: auto;
  position: relative;
  width: 950px;
  z-index: 1;
}

#pageNav {
  position: fixed;
  top: 0;
  -webkit-app-region: drag;
  z-index: 3;
}

#pageNav .btn {
  -webkit-app-region: no-drag;
}

#sideBar {
  position: absolute;
  right: 0;
  z-index: 2;
}

.mainContainer {
  position: relative;
  overflow: hidden;
  min-height: 800px;
  margin-bottom: 100px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.img-rsp {
  display: block;
  max-width: 100%;
  height: auto;
}

.bar {
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.bar.barFlush {
  padding-left: 0;
  padding-right: 0;
}

.barTxt {
  height: 50px;
  line-height: 50px;
}

#overlay {
  position: fixed;
  top: 50px;
  height: 100%;
  width: 100%;
  background-color: rgba(25,25,25,0.65);
  z-index: 2;
  transition: all .25s cubic-bezier(0, 0, 0.2, .5);

}

.navBar {
  /* use for horizontal nav structures */
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.navBar-main {
  position: fixed;
  top: 0;
  left: 0;
}

.footerBar {
  padding: 3px 0;
}

.navBar .navEnd {
  /* container for nav elements on the right side */
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.ctrlGroup {
  /* use for any cluster of nav controls */
  padding-left: 4px;
  position: relative;
}

.ctrlGroup:first-child {
  padding-left: 0;
}

.flexContainer {
  overflow: hidden;
}

.flexRow {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  /* reset styles if applied to a list item */
  padding: 0;
}

.flexRow-center {
  justify-content: center;
}

.flexRow [class |= "flexCol"] {
  box-sizing: border-box;
  position: relative;
}

.flexRow.pad [class |= "flexCol"] {
  padding-left: 5px;
  padding-right: 5px;
}

.flexRow.pad [class |= "flexCol"]:first-child {
  padding-left: 0;
}

.flexRow.pad [class |= "flexCol"]:last-child {
  padding-right: 0;
}

.flexRow.negPad {
  /* use to compensate for first and last margins to items in the row if you can't use flex justification */
  margin: 0 -5px 0 -10px;
  width: auto;
}

.flexRow .flexCol-12 {
  /* normally you can make it 100% wide by not using a column. This is here if you need to switch column sizes dynamically. */
  width: 100%;
}

.flexRow .flexCol-11 { flex-basis: 91.66666666666666%; }

.flexRow .flexCol-10 { flex-basis: 83.33333333333334%; }

.flexRow .flexCol-9 { flex-basis: 75%; }

.flexRow .flexCol-8 { flex-basis: 66.66666666666666%; }

.flexRow .flexCol-7 { flex-basis: 58.333333333333336%; }

.flexRow .flexCol-6 { flex-basis: 50%; }

.flexRow .flexCol-5 { flex-basis: 41.66666666666667%; }

.flexRow .flexCol-4 { flex-basis: 33.33333333333333%; }

.flexRow .flexCol-3 { flex-basis: 25%; }

.flexRow .flexCol-2 { flex-basis: 16.666666666666664%;; }

.flexRow .flexCol-1 { flex-basis: 8.333333333333332%; }

.flexExpand {
  /* use to make only one item in a flex row expand */
  flex-grow: 1;
}

.gridItem {
  box-sizing: border-box;
  padding: 33px;
  cursor: pointer;
  width: 317px;
}

.userPage-subViews .gridItem {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.itemImg {
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  height: 230px;
  width: 250px;
}

.itemImg.itemImg-large {
  /* flex row collapses unless a specific height is set */
  height: 357px;
  width: 357px;
}

.itemImg.itemImg-small {
  height: 82px;
  width: 82px;
  margin: 0 10px 10px 0;
}

.rowItem {
  flex-grow: 1;
  padding: 25px 15px;
}

.rowItem input[type=radio] {
  vertical-align: middle;
  margin-top: 0;
}

.fieldItem {
  min-height: 50px;
  line-height: 50px;
  padding: 0 15px;
  position: relative;
  display: block;
}

.fieldItem.fieldItem-multiLine {
  line-height: normal;
  padding: 15px;
}

[class |= "flexCol"] > .fieldItem {
  margin: 0 -1px -1px 0;
}

.table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table > div {
  display: table-row;
}

.table > div > div {
  display: table-cell;
  vertical-align: top;
}

.btn {
  font-size: 13px;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
   -webkit-user-select: none;
}

/* don't prefix with .btn, sometimes it is used on icons without a .btn class */
.btn-corner {
  cursor: pointer;
  display: block;
  position: absolute;
  opacity: .75;
  float: none;
  transition: opacity .15s cubic-bezier(0, 0, 0.2, 1);  
  z-index: 1;
}

.btn-corner.btn-cornerTR {
  top: 10px;
  right: 10px;
}

.btn-corner.btn-cornerTR:hover {
  opacity: 1;
}

.btn-corner.btn-cornerTR:active {
  opacity: .5;
}

.btn-corner.btn-cornerTR.btn-cornerTRSmall {
  top: 5px;
  right: 5px;
}

.btn-corner.btn-flushTop {
  top: 0px;
}

.btn-corner.btn-cornerTL {
  top: 10px;
  left: 10px;
}

.btn-corner.btn-cornerTL.btn-flushTL {
  top: 0;
  left: 0;
}

.btn-corner.btn-cornerTR.btn-cornerTROutR {
  right: -30px;
}

.thumbnail {
  height: 36px;
  width: 36px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  position: relative;
}

.thumbnail-large {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 76px;
  width: 80px;
  transition: all .1s cubic-bezier(0, 0, 0.5, 1);
}

.thumbnail-large-slim {
  height: 58px;
  width: 58px;
  transition: all .1s cubic-bezier(0, 0, 0.5, 1);
}

.row5 {
  margin-bottom: 5px;
}

.row10 {
  margin-bottom: 10px;
}

.rowTop10 {
  margin-top: 10px;
}

.row20 {
  margin-bottom: 20px;
}

.rowTop20 {
  margin-top: 20px;
}

.row60 {
  margin-bottom: 60px;
}

.rowTop241 {
  /* special class for the itemEdit view */
  margin-top: 241px;
}

.row320 {
  margin-bottom: 320px;
}

.pad10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pad8Left {
  padding-left: 8px;
}

.pad10Left {
  padding-left: 10px;
}

.pad10Right {
  padding-right: 10px;
}

.pad15 {
  padding-left: 15px;
  padding-right: 15px;
}

.pad20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pad20Right {
  padding-right: 20px;
}

.popMenu {
  position: absolute;
  z-index: 1;
}

.modal {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* use fadeIn and fadeOut to change opacity */
  transition: opacity .15s cubic-bezier(0, 0, 0.2, 1);  
  padding-top: 25px;
  z-index: 1;
}

.modal.modal-navOffset {
  top: 50px;
}

.modal-child {
  width: 525px;
  height: 624px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.modal.modal-navOffset .modal-child {
  margin-top: 25px;
}

.modal.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.accordion {
  overflow: hidden;
  position: relative;
}

.accordion > .accordion-window {
  position: absolute;
}

.accordion > .accordion-window > .accordion-child {
  float: left;
}

.positionWrapper {
  /* use when you need a generic element around one or more elements where one is absolutely positioned */
  position: relative;
}

.clickable {
  cursor: pointer;
}

.theme-container {
  margin-right: 2%;
  width: 23%;
  text-align: center;
}

.theme-background {
  border: solid 1px #063753;
  background: black;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 5px;
  height: 120px;
  width: 100%;
}

.theme-header {
  background-color: #317DB8;
  height: 40px;
  margin: auto;
  margin-top: 8px;
  width: 85%;
}

.theme-body {
  height: 65px;
  background-color: #086A9E;
  margin: auto;
  width: 85%;
}

/*========== typography ==========*/

h1,h2,h3 {
  margin: 0 0 20px 0;
  line-height: 1.2;
  font-weight: 700;
}

h4,h5,h6 {
  margin: 0 0 10px 0;
  line-height: 1;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

.h6, h6 {
  font-size: 15px;
}

[class *= "ion-"]:before {
  font-size: 1.2em;
}

.txt-center {
  text-align: center;
}

.txt-fade {
  opacity: 0.75;
}

.txt-lowleading {
  line-height: 1.2;
}
.txt-unleaded {
  line-height: 1;
  margin-bottom: 0;
}

.unbold {
  font-weight: 400;
}

.allCaps {
  text-transform: uppercase;
}

.noOverflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*========== skin classes ==========*/

.userPage {
  /*background-color: #2a2a2a;*/
}

.userPageImageUpload {
  background: transparent !important;
  opacity: 1;
  font-size: 24px;
  margin-top: 20px;
}

.userPageImageUpload:hover {
  text-decoration: underline !important;
}

.navBar {
  background-color: #327EB8;
}

.navBar.statusBar,
.userPage .navBar.statusBar {
  background-color: rgba(0,0,0,0.6);
  transition: opacity 1s;
  overflow: hidden;
  z-index: 10;
}

.navBar.statusBar.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.navBar-main.navBar.statusBar {
  margin-top: 50px;
}

.welcomeBar {
  background-color: rgb(6,55,83);
  height: 85px;
  line-height: 50px;
  position: relative;
  z-index: 2;
}

.welcomeBar:before {
  background: url('../imgs/icon.png');
  background-size: cover;
  bottom: 0;
  content: " ";
  height: 80px;
  left: 30px;
  position: absolute;
  width: 60px;
  z-index: 2;
}

.welcomeBar div {
  background-color: #215175;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 35px;
  height: 50px;
  padding-left: 102px;
  position: relative;
  z-index: 1;
}

.userPage .navBar {
  background-color: #575757;
}

.mainContainer {
  background-color: #086A9E;
}

.user-customize-cover-photo {
  width: 950px;
}

.userPage .mainContainer {
  background-color: #4a4848;
}

.modal-opaque {
  background-color: rgba(25,25,25,.75);
  box-shadow: inset 0px -70px 112px -62px rgba(37,37,37,.9);
  top: 50px;
}

.modal-opaqueDark {
  background-color: rgba(25,25,25,0.9);
  box-shadow: inset 0px -70px 112px -62px rgba(37,37,37,.9);
  top: 50px;
}

.modal-opaque.modal-navBlock {
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 50px, rgba(7,65,97,1) 51px);
}

.modal-childMain {
  border-radius: 3px;
  background-color: #327eb8;
  box-shadow: 0px 0 0 rgba(0, 0, 0, 0.15);
}

.modal-hero {
  background: linear-gradient(to bottom, rgb(209,209,209), rgb(55,55,55) 60px, rgb(55,55,55) 108px, rgb(0,0,0));
  background-position: center;
  background-size: cover;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 250px;
  position: relative;
  width: 525px;
}

.modal-hero-icon {
  background: url(../imgs/openbazaar-icon.png);
  background-size: cover;
  height: 145px;
  margin: auto;
  top: 30px;
  position: relative;
  width: 145px;
}

.flex-border > .flexRow {
  /* hide the extra border on the right and bottom sides */
  margin: 0 -1px -1px 0;
  width: auto;
  overflow: hidden;
}

.flex-border > .flexRow > [class |= "flexCol"] {
  border-right: 1px solid rgba(255,255,255,0.08);
  border-bottom: 1px solid rgba(255,255,255,0.08);
  padding: 0 1px 1px 0;
}

.flex-border > .flexRow > [class |= "flexCol"].pad10 {
  padding: 0 11px 1px 10px;
}

.flex-border > .flexRow > [class |= "flexCol"].pad20 {
  padding: 0 21px 1px 20px;
}

.flex-border > .flexRow > .flexRow {
  /* containing row has a list of rows inside it */
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.flex-border .flex-border > .flexRow > .flexRow:last-child {
  /* when nested, the last row should not have a border */
  border-bottom: none;
}

.flexRow-noBorderBottom,
.flex-border > .flexRow.flexRow-noBorderBottom,
.flex-border > .flexRow > .flexRow.flexRow-noBorderBottom {
  /* when the row needs to not have a bottom and no other way works */
  border-bottom: none;
}

.box-border {
  border: 1px solid rgba(255,255,255,0.08);
  box-sizing: border-box;
}

.box-borderBright {
  border: 1px solid #fff;
  box-sizing: border-box;
}

.box-borderDashed {
  border: 4px dashed #fff;
  box-sizing: border-box;
}

#obContainer.box-borderDashed {
  padding-top: 16px;
}

.box-dashed {
  border: 4px dashed rgba(255,255,255,0.09);
  box-sizing: border-box;
}

.txtField {
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  height: 32px;
  opacity: .85;
  transition: opacity .3s cubic-bezier(0, 0, 0.2, 1);
  width: 100%;
}

.txtFieldWrapper {
  position: relative;
  width: 100%;
}

.txtFieldWrapper:before {
  color: #fff;
  font-family: Ionicons;
  font-size: 18px;
  left: 15px;
  opacity: 0.7;
  position: absolute;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  top: 13px;
  z-index: 1;
}

.searchWrapper:before {
  content: "\f4a5"
}

.searchWrapper .txtField {
  letter-spacing: 0;
  text-indent: 24px; /* make room for icon */
  opacity: .75;
}

.searchWrapper .txtField:hover,
.searchWrapper .txtField:focus {
  opacity: 1;
}

.searchWrapper .txtField:focus {
  outline: 2px solid #fff;
}

.mainSearchWrapper:before {
  color: #000;
  top: 6px;
  left: 8px;
}

.mainSearchWrapper .txtField {
  font-size: 12px;
  letter-spacing: 0;
  text-indent: 26px;
  transition: opacity .75s cubic-bezier(0, 0, 0.2, 1);
  -webkit-app-region: no-drag;
}

.mainSearchWrapper .txtField:focus {
  box-shadow: 0 0 0 2px #086A9E;
}

.txtField-bar,
input[type="text"].txtField-bar {
  background: none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  height: 45px;
  font-size: 14px;
  letter-spacing: .4px;
  opacity: 1;
  outline: none;
  padding: 13px;
}

.txtField-bar:focus {
  outline: none;
}

.txtFieldWrapper-bar:before {
  color: #fff;
  top: 12px;
  left: 15px;
  opacity: 1;
}

.btn {
  height: 32px;
  min-width: 32px;
  line-height: 32px;
  float: left;
  background-color: #086A9E; /* default color */
  padding:0;
  border-radius: 3px;
  opacity: .80;
  box-sizing: border-box;
  transition: opacity .25s, background-color 2s;
}

.btn:hover {
  opacity: 1;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
}

.btn:before {
  line-height: 32px;
}

.btn.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.btn:active {
  -webkit-box-shadow: inset 0px 0px 6px 0px rgb(13, 84, 123);
  opacity: .75;
}

.btn.btn-txt {
  /* button with text */
  padding: 0 16px;
}

.btn.btn-txtHalf {
  /* button with text */
  padding: 0 16px;
}

.btn.btn-buyNow {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  opacity: 1;
  font-size: 14px;
}

.btn.btn-txtOnly {
  background: none;
}

.userPage .btn.inactive {
  opacity: 0.4;
}

.btn.btn-light {
  background-color: rgba(255,255,255,0.08);
}

.btn.btn-c1 {
   background-color: rgb(50,126,184);
 }

.userPage .btn.btn-c1,
.btn.btn-dark {
  background-color: rgb(87,87,87);
}

.btn.btn-c1.fade {
  background-color: rgba(50,126,184,0.8);
}

.userPage .btn.btn-c1.fade {
  background-color: rgba(87,87,87,0.8);
}

.btn.btn-win {
  border-radius: 6px;
  width: 12px;
  min-width: 0;
  height: 12px;
  background-color: #fff;
  margin: 0 3px;
  padding: 0;
}

.btn.btn-win.btn-winClose {
  background-color: #E45A5A;
}

.btn.btn-win.btn-winMin {
  background-color: #F8E71C;
}

.btn.btn-win.btn-winMax {
  background-color: #B8E986;
}

.btn.btn-bar {
  border-radius: 0;
  min-width: 115px;
  text-align: center;
  background-color: #327EB8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 47px;
  font-size: 14px;
  line-height: 47px;
  margin-top: 3px;
  opacity: .50;
  transition: opacity 0s cubic-bezier(0, 0, 0.2, 1);
}

.userPage .btn.btn-bar {
  background-color: #575757;
  border-right: 1px solid #4a4848;
}

.btn.btn-bar:hover {
  opacity: .75;
}

.btn.btn-bar.active {
  background-color: #086A9E;
  opacity: 1;
}

.userPage .btn.btn-bar.active {
  background-color: #4a4848;
}

.btn.btn-bar.btn-tab {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-user-select: none;
  border: none;
  height: 46px;
  font-weight: 500;
  line-height: 46px;
  padding: 0 20px;
  margin-top: 4px;
}

.btn.btn-bar.btn-tab:first-child {
  border-top-left-radius: 0px;
}

.btn.btn-bar.btn-tab:active{
  -webkit-box-shadow: none;
}

.btn.btn-wide {
  width: 100%;
  border: none;
}

.btn.btn-half {
  width: 50%;
}

.btn.btn-half.btn-bar:last-child,
.btn.btn-wide.btn-bar:last-child {
  border-right: none;
}

.btn-togWrapper {
  border: 1px solid #086A9E;
  border-radius: 5px;
  float: left;
}

.userPage .btn-togWrapper {
  border: 1px solid rgb(74,72,72);
}

.btn-togWrapper .btn-togWrapper-light {
  border: 1px solid rgba(255,255,255,0.08);
}

.btn-togWrapper .btn-togWrapper-c1 {
  border: 1px solid rgb(50,126,184);
}

.userPage .btn-togWrapper.btn-togWrapper-c1 {
  border: 1px solid rgb(87,87,87);
}

.btn.btn-shadow1 {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.40);
}

.fieldItem .btn-togWrapper {
  margin-top: 9px;
}

.fieldItem .btn-togWrapper .btn {
  margin-top: 0;
}

.btn.btn-togLeft,
.btn.btn-togMid,
.btn.btn-togRight {
  /* creates a set of buttons flush with each other */
  float: left;
}

.btn.btn-togLeft {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn.btn-togRight {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn.btn-flushTop {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn.btn-back:before,
.btn.btn-fwd:before {
  opacity: 0.3;
}

.btn.btn-back.active:before,
.btn.btn-fwd.active:before {
  opacity: 1;
}

.btn.btn-profile {
  background-size: cover;
  background-position: center;
}

.btn-square {
  width: 44px;
  height: 44px;
}

.btn-squareSm {
  width: 30px;
  height: 30px;
}

.btn-insideInput {
  position: absolute;
  cursor: pointer;
  float: none;
  height: 26px;
  top: 2px;
  right: 2px;
  line-height: 26px;
}

#ov1 .btn.confirmable,
#ov1 .userPage .btn.confirmable {
  transition: 2s background-color;
}

.btn .postConfirm,
.btn .preConfirm,
.btn .preSpacer {
  display: inline-block;
  overflow: hidden;
  transition: 2s max-width ease, 2s opacity ease;
}

.btn .preConfirm {
  max-width: 200px;
  transition: 1s opacity;
}

.btn .postConfirm {
  max-width: 0;
  width: 0;
  opacity: 0;
}

.btn .preSpacer {
  /*this keeps the width the same as the preconfirm is shrinking*/
  display: block;
  height: 0;
}

.confirm.btn .preConfirm {
  max-width: 0;
  opacity: 0;
}

.confirm.btn .postConfirm {
  max-width: 200px;
  width: auto;
  opacity: 1;
}

#ov1 .confirm.btn,
#ov1 .userPage .confirm.btn {
  background-color: rgba(200,25,25,1);
}

.labelWrap {
  display: block;
  background: rgba(0,0,0,0.6);
  padding: 4px 4px 7px 52px;
  height: 44px;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.6);
  transition: opacity 1s;
  width: 185px;
}

.labelWrap.fade {
  opacity: 0;
}

.labelWrap.fadeIn {
  opacity: 1;
}

label {
  font-size: 14px;
  letter-spacing: .4px;
  opacity: .75;
}

.labelWrap input {
  margin-top: 2px;
  color: rgba(255,255,255,0.6);
  background: none;
  font-size: 12px;
  width: 100%;
}

.fieldItem h1,
.fieldITem h2
.fieldItem h3,
.fieldItem h4,
.fieldItem h5,
.fieldItem h6 {
  margin: 0;
  line-height: 50px;
}

input[type="text"].fieldItem,
input[type="number"].fieldItem,
input[type="email"].fieldItem,
input[type="url"].fieldItem,
input[type="datetime-local"].fieldItem {
  width: 100%;
  color: #fff;
  border: 2px solid transparent;
  padding: 0 15px;
  background: none;
  line-height: 46px;
}

input[type="datetime-local"].fieldItem {
  font-family: inherit;
  line-height: 42px;
}

input[type="datetime-local"].fieldItem::-webkit-inner-spin-button {
  height: 50px;
  position: absolute;
  right: 45px;
}

input[type="datetime-local"].fieldItem::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

input[type="number"].fieldItem {
  padding-right: 0;
}

input[type="number"].fieldItem::-webkit-outer-spin-button,
input[type="number"].fieldItem::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="text"].fieldItem:focus,
input[type="number"].fieldItem:focus,
input[type="email"].fieldItem:focus,
input[type="url"].fieldItem:focus,
input[type="datetime-local"].fieldItem:focus {
  border: 2px solid #fff;
  transition: border 0.3s;
  outline: none;
}

/* add formChecked class after form has been checked for validity */
.formChecked input[type="text"].fieldItem:invalid,
.formChecked input[type="email"].fieldItem:invalid,
.formChecked input[type="url"].fieldItem:invalid,
.formChecked .fieldItem-textarea:invalid,
.formChecked input[type="number"].fieldItem:invalid,
.formChecked input[type="text"].fieldItem:focus:invalid,
.formChecked input[type="email"].fieldItem:focus:invalid,
.formChecked input[type="url"].fieldItem:focus:invalid,
.formChecked .fieldItem-textarea:focus:invalid,
.formChecked input[type="number"].fieldItem:focus:invalid {
  border: 2px dashed rgba(89,1,1,0.8);;
  background-color: rgba(89,1,1,0.2);
  transition: border 0.3s, background-color 0.4s;
}

input[type="text"].fieldItem.fieldItem-withButton,
input[type="email"].fieldItem.fieldItem-withButton,
input[type="url"].fieldItem.fieldItem-withButton,
input[type="number"].fieldItem.fieldItem-withButton {
  position: absolute;
  padding-left: 50px;
}

input[type="number"].fieldItem.spinButtons {
  background: none;
  box-sizing: border-box;
  width: 100%;;
}

input[type=number].fieldItem.spinButtons::-webkit-inner-spin-button {
  cursor:pointer;
  display:block;
  width:14px;
  position:relative;
  opacity: 1;
}

input[type=number].spinButtons::-webkit-inner-spin-button:before,
input[type=number].spinButtons::-webkit-inner-spin-button:after {
  position:absolute;
  right: 6px;
  font-family: "Ionicons";
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  width:14px;
}

input[type=number].fieldItem.spinButtons::-webkit-inner-spin-button:before {
  content: "\f10d";
  top:0px;
}

input[type=number].fieldItem.spinButtons::-webkit-inner-spin-button:after {
  content: "\f104";
  bottom:0px;
}

input[type="number"].fieldItem.spinButtons:focus {
  border: none;
}

.fieldItem .btn {
  margin-top: 9px;
}

.fieldItem .fieldItem-selectWrapper {
  position: relative;
}

.fieldItem .fieldItem-selectWrapper select {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0;
  background: none;
  border: 1px solid transparent;
  outline: none;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  color: #fff;
}

.fieldItem .fieldItem-selectWrapper select:focus {
  outline: none;
}

.fieldItem .fieldItem-selectWrapper select[multiple] {
  height: 150px;
}

.fieldItem .fieldItem-selectWrapper select[multiple]:focus {
  height: 500px;
}

.fieldItem .fieldItem-selectWrapper:after {
  content: "\f104";
  font-family: "Ionicons";
  position: absolute;
  line-height: 50px;
  top: 0;
  right: 20px;
  pointer-events: none;
}

.fieldItem .fieldItem-selectWrapper.noIcon:after {
  content: "";
}

/* custom chosen styles */
.fieldItem .fieldItem-selectWrapper .chosen-single {
  height: 50px;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  line-height: 50px;
  color: #fff;
}

.fieldItem .fieldItem-selectWrapper .chosen-container-single div b {
  background: none;
}

.fieldItem .fieldItem-selectWrapper .chosen-container-single div b:after {
  content: "\f104";
  font-family: "Ionicons";
  position: absolute;
  line-height: 50px;
  top: 0;
  right: 20px;
  pointer-events: none;
}

.fieldItem .fieldItem-selectWrapper .chosen-container-single.chosen-container-active div b:after {
  content: "\f10d";
}

.fieldItem .fieldItem-selectWrapper .chosen-drop {
  background: #353535;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 0;
  box-shadow: none;
  line-height: 50px;
  color: #fff;
}

.fieldItem .fieldItem-selectWrapper .chosen-drop .chosen-results li {
  color: #fff;
}

.fieldItem .fieldItem-selectWrapper .chosen-drop .chosen-results li.highlighted {
  background: rgb(87,87,87);
}

.fieldItem-textarea {
  background: none;
  border: 2px solid transparent;
  color: #fff;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 14px;
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

.fieldItem-textarea:focus {
  border: 2px solid #fff;
  transition: border 0.3s;
  outline: none;
}

select {
  border: 2px solid transparent !important;
  border-radius: 0;
  padding: 0 15px;
  -webkit-appearance: none;
}

select:focus {
  border: 2px solid #fff !important;
}

input[type="radio"].fieldItem {
  display: none;
}

input[type="radio"].fieldItem + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 50px;
  padding: 0 20px 0 40px;
}

input[type="radio"].fieldItem + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 15px;
  height: 16px;
  width: 16px;
  border-radius: 12px;
  border: solid 1px #fff;
  box-shadow: none;
  opacity: 1;
}

input[type="radio"].fieldItem:checked + label:before {
  background: #fff;
  box-shadow: inset 0 0 0 4px #086A9E;
}

.radioLabel {
  opacity: .75;
}

input[type="checkbox"].fieldItem {
  display: none;
}

input[type="checkbox"].fieldItem + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 50px;
  padding: 0 20px 0 40px;
}

input[type="checkbox"].fieldItem + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 15px;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 10px rgba(255,255,255,0.4);
}

input[type="checkbox"].fieldItem:checked + label:before {
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8);
}

input[type="checkbox"].fieldItem + label div,
input[type="checkbox"].fieldItem + label span {
  /* if the label has elements inside it, remove line height */
  line-height: normal;
}

.userPage .fieldItem-selectWrapper select option {
  background-color: #4a4848;
}

.fieldItem .taggle_placeholder {
  position: absolute;
  transition: opacity,.25s;
  -webkit-user-select: none;
  color: rgba(255,255,255,0.4);
}

.fieldItem .taggle_list {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.fieldItem .taggle_list li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  line-height: 32px;
  position: relative;
}

.fieldItem .taggle {
  margin: 6px 6px 0 0;
  padding: 0 28px 0 10px;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
  transition: all 0.3s;
}

.fieldItem .taggle .taggle_text {

}

.fieldItem .taggle .close {
  display: inline-block;
  position: absolute;
  background: none;
  border: none;
  color: rgba(255,255,255,0.8);
  right: 2px;
  top: 6px;
  font-size: 16px;
}

.fieldItem .taggle_list .taggle_input {
  line-height: 50px;
  margin-left: 4px;
  float: left;
  background: 0;
  max-width: 100%;
  border: 0;
  outline: 0;
  color: inherit;
}

.fieldItem .taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}

.fieldItem.btn {
  margin: 10px;
  min-height: 0;
  min-width: 0;
  height: 30px;
}

.popMenu-navBar {
  top: 50px;
  right: 10px;
  background-color: #252525;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.10);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  font-size: 13px;
  padding: 10px 0;
  width: 230px;
}

.popMenu-navBar a {
  display: block;
  font-size: 14px;
  line-height: 26px;
  padding: 0 16px;
  transition: opacity .2s cubic-bezier(0, 0, 0.2, 1);
}

.popMenu-navBar a:hover {
  opacity: 1;
  background: #353535;
  text-decoration: none;
}

.popMenu-navBar hr {
  width: 100%;
  border: 1px solid rgba(255,255,255,0.08);
}

.banner-large {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: 50% 50% / cover no-repeat;
  height: 400px;
  position: fixed;
  top: 70px;
  width: 950px;
  padding: 0;
  z-index: 0;
}

.user-page-content {
  position: relative;
  width: 950px;
  z-index: 3;
}

.capitalize {
  text-transform: capitalize;
}

.shadow-inner1-ultra-light {
  box-shadow: inset 0px -130px 112px -52px rgba(25,25,25,.35);
}

.shadow-inner1-light {
  box-shadow: inset 0px -130px 112px -52px rgba(25,25,25,.65);
}

.shadow-inner1 {
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(75%,rgba(0,0,0,.75)));*/
  box-shadow: inset 0px -400px 222px -282px rgba(25,25,25,1);
}

.shadow-inner1-strong {
  box-shadow: inset 0px -400px 222px -182px rgba(25,25,25,.85);
}

.icon-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home-page-navigation {
  width: 950px;
}

.home-page-header-slim {
  position: fixed;
  top: 50px;
  width: 950px;
  z-index: 3;
  box-shadow: 0px 3px 43px -17px rgba(0,0,0,.6);

}

.home-page-navigation-filler {
  height: 136px;
}

.home-page-navigation-slim {
  position: fixed;
  top: 135px;
  z-index: 3;
  box-shadow: 0px 10px 43px -10px rgba(0,0,0,0.20);
}

.user-page-navigation {
  width: 950px;
  position: relative;
  z-index: 3;
}

.user-page-navigation-slim {
  position: fixed;
  top: 102px;
  z-index: 5;
  box-shadow: 0px 3px 43px -17px rgba(0,0,0,.6);
}

.user-page-navigation-filler {
  height: 46px;
}

.user-page-header {
  position: relative; 
  height: 400px;
  z-index: 2;
}

.user-page-header-slim {
  position: fixed;
  top: 50px;
  border-top: solid 8px black;
/*  border-top-left-radius: 3px;
  border-top-right-radius: 3px;*/
  height: 54px;
  width: 950px;
  background: #281B2E;
  z-index: 4;
  padding: 0;
}

.userPage-subViews {
  position: relative;
  z-index: 5;
}

.icon-large {
  font-size: 32px;
}

.icon-small {
  font-size: 11px;
}

.photos-empty {
  height: 110px; 
  margin-top: 58px;
  padding: 15px; 
  text-align: center;
  width: 100%; 
}

.helper-text {
  padding: 5px 15px 30px 15px;
}

/*========== spinners ==========*/

.spinner {
  position: relative;
}

.spinner:before {
  position: absolute;
  top: 50%;
  right: 50%;
  animation: spinnerAnimation 1.75s infinite linear;
}

.spinner:after {
  content: "\00a0 \00a0 \00a0 \00a0";
  /* non-breaking spaces, creates room for the spinning icon */
}

@-webkit-keyframes spinnerAnimation {
  0% {
    transform: translate(50%,-50%) rotate(0deg);
  }
  100% {
    transform: translate(50%,-50%) rotate(359deg);
  }
}
@keyframes spinnerAnimation {
  0% {
    transform: translate(50%,-50%) rotate(0deg);
  }
  100% {
    transform: translate(50%,-50%) rotate(359deg);
  }
}

/*========== one-off classes ==========*/

.modal .homeModal-hero {
  background: #063753;
}

.modal .homeModal-heroText {
  position: absolute;
  bottom: 46px;
  color: #fff;
  font-size: 17px;
  width: 70%;
  margin: 0 15%;
  text-align: center;
}

.modal .homeModal-accordion {
  height: 374px;
}

.modal .homeModal-accordion .btn-bar{
  border-radius: 0;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  opacity: .75;
}
.modal .homeModal-accordion .btn-bar .btn{
  opacity: .75;
}

.modal .homeModal-accordion .btn-bar:hover{
  opacity: 1;
}

.modal .homeModal-accordion .btn {
  background-color: rgb(50,126,184);
}

.modal .homeModal-accordion .btn-bar{
  border-right: none;
}

.modal .homeModal-accordion .btn-bar:nth-child(2){
  border-left: solid 1px #086A9E;
}

.modal .homeModal-accordion .searchWrapper {
  background: #086A9E;
  border-bottom: solid 1px #327EB8;
}

.modal .homeModal-accordion .flexRow {
  width: 100%;
}

.modal .homeModal-accordion .accordion-child {
  width: 525px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.modal .homeModal-settings,
.modal .homeModal-settings.flexRow {
  height: 230px;
  overflow-y: auto;
  background-color: #086A9E;
}

.modal .homeModal-settings.homeModal-settings-noSearch {
  height: 274px;
}

.modal .homeModal-avatarPreview {
  background: url('../imgs/defaultUser.png') 100% 100%;
  background-size: cover;
  border-radius: 3px;
  height: 130px;
  width: 142px;
  margin-top: 30px;
}

.uploadPhotoControls {
  position: absolute;
  top: 146px;
  left: 134px;
  z-index: 1;
}

.uploadPhotoControls .btn {
  float: none;
}

.page-userNameLarge{
  font-weight: 200;
  font-size: 34px;
  opacity: .8;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  margin-left: 0;
}

.page-contractTitle {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: .5px;
  margin-bottom: 0;
  opacity: 1;
}

#customizeControls {
  position: fixed;
  left: 40px;
  top: 80px;
  width: 40px;
  z-index: 100;
}

#customizeControls .btn-square {
  box-shadow: 0px 1px 2px #898989;
  margin-bottom: 0;
  width: 40px;
  height: 40px;
  border: solid 2px #fff;
}

.headerCropper.banner-large,
.headerCropperPreview.banner-large {
  width: 950px;
  height: 400px;
}

.headerCropper.banner-large {
  z-index: 3;
}

.headerCropper .cropit-image-zoom-input {
  position: absolute;
  top: 240px;
  width: 400px;
}

.userPage .headerCropper .bar.navBar {
  background: none;
  height: 48px;
}

.editItemImageHolder {
  height: 168px;
  overflow: auto;
  /*scroll bar is added with JS */
}

.editItemImageLoadPhotoMessage {
  height: 168px;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
}

#modalHolder {
  position: fixed;
  z-index: 10;
}

/* protect customize controls from custom page styles */
#ov1 #customizeControls .labelWrap input {
  color: rgba(255,255,255,0.6);
}

.colpick {
  z-index: 10;
}

#ov1 #obBody .colpick input {
  color: #616161;
}

.colpick_rgbhex .colpick_new_color,
.colpick_rgbhex .colpick_current_color {
  height: 20px;
}

.colpick_rgbhex .colpick_rgb_r {
  top: 33px;
}

.colpick_rgbhex .colpick_rgb_g {
  top: 60px;
}

.colpick_rgbhex .colpick_rgb_b {
  top: 87px;
}

.colpick_rgbhex .colpick_hex_field {
  top: 114px;
}

.colpick_dark .colpick_submit {
  top: 142px;
  color: #B5B5B5;
  font-weight: 400;
  border-color: #616161;
}

#obBody::-webkit-scrollbar {
  display: none;
  box-sizing: border-box;
}

#obContainer {
  height: 96%;
  margin-top: 50px;
  overflow-y: scroll;
  padding-top: 20px;
}

/*========== utility classes ==========*/

/* the #ov1 id is on the HTML tag. It is used to force specificity
   higher than other class combinations on the page. This is preferable
   to using an important tag. Only use it on rules that must override
   all other rules. */

/* be aware that float and clear have no affect on flex items. */


.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

#ov1 .pull-right {
  float: right;
}

#ov1 .pull-left {
  float: left;
}

#ov1 .push-down5 {
  position: relative;
  top: 5px;
}

#ov1 .pull-up50 {
  position: relative;
  top: -50px;
}

#ov1 .pull-up48 {
  position: relative;
  top: -48px;
}

#ov1 .pull-up1 {
  position: relative;
  top: -1px;
}

#ov1 .pull-up4 {
  position: relative;
  top: -4px;
}

#ov1 .align-bottom {
  position: absolute;
  bottom: 0;
}

#ov1 .hide {
  display: none;
}

#ov1 .invisible {
  visibility: hidden;
}

#ov1 .visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#ov1 .show {
  display: block;
}

#ov1 .invisible {
  visibility: hidden;
}

#ov1 .scrollOverflowY {
  overflow-y: scroll;
}

#ov1 .vCentered {
  /* must be inside a relatively positioned containing element */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#ov1 .hCentered {
  /* must be inside a relatively positioned containing element */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#ov1 .fullCentered {
  /* must be inside a relatively positioned containing element */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ov1  .borderRight {
  border-right: solid 1px rgba(255,255,255,0.08);
}

#ov1  .borderBottom {
  border-bottom: solid 1px rgba(255,255,255,0.08);
}

#ov1  .borderTop {
  border-top: solid 1px rgba(255,255,255,0.08);
}

#ov1  .border0 {
  border: 0;
}

#ov1  .borderRadiusTop {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#ov1  .podBorder {
  border: solid 1px rgba(255,255,255,0.08);
  border-bottom: solid 2px rgba(255,255,255,0.08);
}

#ov1  .textOpacity50 {
  opacity: .50;
}

#ov1  .textOpacity75 {
  opacity: .75;
}

#ov1  .textOpacity1 {
  opacity: 1;
}

#ov1 .textSize11px {
  font-size: 11px;
}

#ov1 .textSize12px {
  font-size: 12px;
}

#ov1  .textSize14px {
  font-size: 14px;
}

#ov1  .textSize15px {
  font-size: 15px;
}

#ov1  .textSize16px {
  font-size: 16px;
}

#ov1  .textSize17px {
  font-size: 17px;
}

#ov1  .textSize20px {
  font-size: 20px;
}

#ov1  .textSize24px {
  font-size: 24px;
}

#ov1  .textSize90px {
  font-size: 90px;
}

#ov1  .textSize13px {
  font-size: 13px;
}

#ov1  .textFirstCharUppercase {
  text-transform: lowercase;
}

#ov1  .textFirstCharUppercase::first-letter {
  text-transform: uppercase;
}

#ov1  .textWeightLight {
  font-weight: 100;
}

#ov1  .textWeightNormal {
  font-weight: 400;
}

#ov1  .textWeightMedium {
  font-weight: 500;
}


#ov1 .fontSize10 {
  font-size: 10px;
}

#ov1 .fontSize11 {
  font-size: 11px;
}

#ov1 .fontSize13 {
  font-size: 13px;
}

#ov1 .fontSize14 {
  font-size: 14px;
}

#ov1 .fontSize15 {
  font-size: 15px;
}

#ov1 .fontSize16 {
  font-size: 16px;
}

#ov1 .fontSize20 {
  font-size: 20px;
}

#ov1 .fontSize34 {
  font-size: 34px;
}

#ov1 .txt-darkest {
  color: #000;
}

#ov1  .alignCenter {
  text-align: center;
}

#ov1  .floatLeft {
  float: left;
}

#ov1  .floatRight {
  float: right;
}

#ov1  .right10 {
  right: 10px;
}

#ov1  .margin0 {
  margin: 0;
}

#ov1  .marginRight3 {
  margin-right: 3px;
}

#ov1  .marginRight5 {
  margin-right: 5px;
}

#ov1  .marginRight10 {
  margin-right: 10px;
}


#ov1  .marginLeft6 {
  margin-left: 6px;
}

#ov1  .marginLeft10 {
  margin-left: 10px;
}

#ov1  .marginLeft12 {
  margin-left: 12px;
}

#ov1  .marginLeft88 {
  margin-left: 88px;
}

#ov1  .marginTop2 {
  margin-top: 2px;
}

#ov1  .marginTop4 {
  margin-top: 4px;
}

#ov1  .marginTop15 {
  margin-top: 15px;
}

#ov1  .marginTop20 {
  margin-top: 20px;
}

#ov1  .marginTop50 {
  margin-top: 50px;
}

#ov1  .marginBottom2 {
  margin-bottom: 2px;
}

#ov1  .marginBottom20 {
  margin-bottom: 20px;
}

#ov1  .marginBottom40 {
  margin-bottom: 40px;
}

#ov1  .marginBottom50 {
  margin-bottom: 50px;
}


#ov1  .marginAuto {
  margin: auto;
}

#ov1  .minHeight650 {
  min-height: 650px;
}

#ov1  .minHeight420 {
  min-height: 420px;
}

#ov1  .lineHeightReset{
  line-height: normal;
}

#ov1  .padding0 {
  padding: 0;
}

#ov1 .bottom0 {
  bottom: 0;
}

.positionAbsolute {
  position: absolute;
}

.positionRelative {
  position: relative;
}


#ov1  .padding5 {
  padding: 5px;
}

#ov1  .padding10 {
  padding: 10px;
}

#ov1  .padding15 {
  padding: 15px;
}

#ov1  .padding20 {
  padding: 20px;
}

#ov1  .padding2015 {
  padding: 20px 15px;
}

#ov1  .padding17px {
  padding: 17px;
}

#ov1  .paddingLeft15 {
  padding-left: 15px;
}

#ov1  .width100 {
  width: 100%;
  box-sizing: border-box;
}

#ov1 .width75px {
  width: 75px;
}

#ov1 .width600 {
  width: 600px;
}

#ov1  .cursorDefault {
  cursor: default;
}

#ob1 .backgroundTransparent {
  background: transparent;
}

#ob1 .fontWeight200 {
  font-weight: 200;
}

#ov1  .borderBottomLeftRaidus3 {
  border-bottom-left-radius: 3px !important;
}

#ov1  .borderBottomRightRaidus3 {
  border-bottom-right-radius: 3px !important;
}

#ov1 a.disabled,
#ov1 button.disabled {
  pointer-events: none;
  opacity: 0.6;
}