{
  "root": true,
  "extends": "eslint:recommended",
  "rules": {
    "quotes": 0,
    "curly": [1, "multi-line"],
    "camelcase": 0,
    "comma-dangle": 0,
    "dot-notation": 0,
    "no-console": 0,
    "no-use-before-define": [1, "nofunc"],
    "no-underscore-dangle": 0,
    "no-unused-vars": 0,
    "new-cap": 0,
    "semi": [1, "always"]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "$": true
  }
}
