.idea/.name
.idea/libraries/OpenBazaar_Client_node_modules.xml
.idea/dictionaries/jjeffryes.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/OpenBazaar-Client.iml
.idea/vcs.xml
.idea/workspace.xml
node_modules/
.idea/codeStyleSettings.xml
.idea/jsLinters/jslint.xml
.idea/jsLinters/jshint.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
npm-debug.log

.idea/jsLinters/eslint.xml
.idea/encodings.xml

.DS_Store
