.idea/.name
.idea/libraries/OpenBazaar_Client_node_modules.xml
.idea/dictionaries/jjeffryes.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/OpenBazaar-Client.iml
.idea/vcs.xml
.idea/workspace.xml