<div class="chatHead js-chatHead clickable tooltip <% if(ob.unread === 0) { %>chatRead<% } %>" data-tooltip="<%-ob.guid%>">
    <div id="chatHead_<%-ob.guid%>" class="thumbnail clickable custcol-border chatHeadIcon badge"
         style="background-image: url(<%- ob.avatarURL %>), url(imgs/defaultUser.png); height: 36px; width: 36px"
         <% if(ob.unread > 0) { %>data-count="<%- ob.unread %>"<% } %>></div>
    <div class="chatPreview">
        <div class="chatPreviewSender">
            <% if(ob.handle) { %>
              <%- ob.handle %>
          <% }else{ %>
              <%- ob.guid %>
          <% } %>            
        </div>
        <div class="chatPreviewLastMessage"><%- ob.last_message %></div>
    </div>
</div>