<div class="mainContainer marginTop50 pad20">
  <div class="rowTop20">
    <div>
      <h2>About Open Bazaar</h2>
    </div>

    <div>
      <h3>1. What is Open Bazaar?</h3>

      <p>OpenBazaar is a network of users who buy and sell goods and services directly with each other, using Bitcoin. This network is decentralized and isn't controlled by any organization.</p>

      <p>The software is open source and MIT licensed. You can view the code on <a href="https://github.com/OpenBazaar/">Github</a>.</p>

      <p>OpenBazaar is a community project, and we welcome participation in our <a href="https://openbazaar-slackin-drwasho.herokuapp.com/">Slack</a> channel or on our <a href="http://www.reddit.com/r/openbazaar">subreddit</a>.</p>

      <p>If you need help, read the OpenBazaar version 1.0 <a href="">Tutorial</a>.</p>   <!-- Still need an href link here -->

      <p>If you still have questions, open an issue at our <a href="https://openbazaar.zendesk.com/hc/en-us/articles/203219995-Question-not-answered-Read-this-post">support desk</a>.</p>
    </div>

    <div><h3>2. Licensing & Libraries</h3>

      <p>OpenBazaar is open source software using the MIT license. This license is permissive and designed to allow people to freely reuse the code for other open source projects or for proprietary software. The full license text is below.</p>

      <h4>The MIT License (MIT)</h4>

      <h5>Copyright &#169 2015 OpenBazaar Developers</h5>

      <p>Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:</p>

      <p>The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.</p>

      <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    </p>

      <h4>Libraries</h4>

      <p>The following libraries are used in OpenBazaar:</p>

      <ul>
        <li>protobuf</li>
        <li>Twisted</li>
        <li>txJSON-RPC</li>
        <li>txrudp</li>
        <li>pyelliptic</li>
        <li>pystun</li>
        <li>bitcoin</li>
        <li>gnupg</li>
        <li>pynacl</li>
        <li>txrestapi</li>
        <li>autobahn</li>
        <li>python-obelisk</li>
        <li>requests</li>
        <li>backbone</li>
        <li>underscore</li>
        <li>moment.js</li>
        <li>jquery</li>
        <li>electron.js</li>
        <li>backbone.linear</li>
        <li>list.js</li>
        <li>polyglot.js</li>
        <li>taggle.js</li>
        <li>safestart</li>
      </ul>
    </div>

    <div>
      <h3>3. Special Thanks</h3>

      <p>OpenBazaar is made possible by an international community of developers and volunteers contributing their time to help make trade free. This is a partial list of people who have contributed to the project, either through code or other assistance.</p>

      <ul>
        <li>Giannis Adamopoulos</li>
        <li>Ariadni-Karolina Alexiou</li>
        <li>Tikhon Bernstam</li>
        <li>Brad Burnham</li>
        <li>George Chatzisofroniou</li>
        <li>Patrick Connolly</li>
        <li>Chris Dixon</li>
        <li>Simon de la Rouviere</li>
        <li>Braden Glasgow</li>
        <li>Brian Hoffman</li>
        <li>Ben Holden-Crowther</li>
        <li>Joshua Jeffryes</li>
        <li>Nikolas Korasidis</li>
        <li>Regan Lawton</li>
        <li>Sami Lehtinen</li>
        <li>Angel Leon</li>
        <li>Joye Lin</li>
        <li>Joel Monegro</li>
        <li>William Mougayar</li>
        <li>Jonas David Nick</li>
        <li>Onename</li>
        <li>Chris Pacia</li>
        <li>Sam Patterson</li>
        <li>Chara Podimata</li>
        <li>Samuel Reed</li>
        <li>Washington Sanchez</li>
        <li>Aeron Paul Sioson</li>
        <li>Adrian Smith</li>
        <li>Adam Snodgrass</li>
        <li>Thomas Stilwell</li>
        <li>Amir Taaki</li>
        <li>Mike Wolf</li>
        <li>Dionysis Zindros</li>
        <li>secret-bitcoin-login</li>
        <li>Rav3nPL</li>
        <li>El--Presidente</li>
        <li>Tinytin</li>
        <li>ULRichard</li>
      </ul>
    </div>
  </div>
</div>