<div class="modal modal-opaque js-adminModal hide">
  <div class="btn-corner btn-cornerTR btn-cornerTRFixedOut js-closeModal">
    <h3 class="ion-close-circled icon-large"></h3>
  </div>
  <div class="modal-child modal-childMain pad20 scrollOverflowY">
    <div class="row20 rowTop20">
      <h1 class="txt-center">Admin Panel</h1>
    </div>
    <p class="txt-center">Use for testing the client.</p>
    <p class="txt-center">Data changes when you click the blue button. The avatar changes as soon as you pick a new image.</p>
    <p>To point at the local server, use http://localhost:18469/api/v1/</p>

    <h3>Set Server</h3>
    <div class="box-border row20">
      <form id="adminPanelServer">
        <div class="flex-border">
          <div class="flexRow">
            <div class="flexCol-4">
              <div class="fieldItem">
                <label for="adminServerInput">Change Server</label>
                <div class="txt-unleaded marginLeft10 js-adminServerMsg"></div>
              </div>
            </div>
            <div class="flexCol-8">
              <input type="text" name="serverUrl" class="fieldItem" id="adminServerInput" value="<%- ob.serverUrl %>" pattern="https?://.+"/>
              <div class="rowTop20 pad20">
                <a class="btn btn-txt row20 js-adminServer pull-right">Set</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <h3>Clear Local Storage</h3>
    <div class="box-border row20">
      <form id="adminPanelServer">
        <div class="flex-border">
          <div class="flexRow">
            <div class="flexCol-4">
              <div class="fieldItem">
                <p class="txt-unleaded">This will reset your server to the default local server, clear any saved image hashes, and reset your onboarding status.</p>
              </div>
              <div class="fieldItem">
                <p class="txt-unleaded js-adminClearLocalMsg"></p>
              </div>
            </div>
            <div class="flexCol-8">
              <div class="rowTop20 pad20">
                <a class="btn btn-txt row20 js-adminClearLocalStorage pull-right">Clear Local Storage</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <h3>Set Moderator Status</h3>
    <div class="box-border row20">
      <form id="adminPanelModerator">
        <div class="flex-border">
          <div class="flexRow">
            <div class="flexCol-4">
              <div class="fieldItem">
                <label>Moderator:</label>
                <div class="txt-lowleading row20 js-adminModeratorMsg"></div>
              </div>
            </div>
            <div class="flexCol-8">
              <div class="fieldItem">
                <a class="btn btn-txt pull-right marginRight5 js-adminMakeModerator">Become Moderator</a>
                <a class="btn btn-txt pull-right js-adminUnmakeModerator">Stop being Moderator</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <h3>Set Profile</h3>
    <div class="box-border row20">
      <form id="adminPanelProfile">
        <div class="flex-border">
          <div class="flexRow">
            <div class="flexCol-4">
              <div class="fieldItem">
                <label>Vendor</label>
                <div class="js-adminServerMsg"></div>
              </div>
            </div>
            <div class="flexCol-8 positionWrapper">
              <input name="vendor" type="radio" class="fieldItem" id="vendorTrue" name="vendor" value="true" /><label for="vendorTrue" class="radioLabel">Yes</label>
              <input name="vendor" type="radio" class="fieldItem" id="vendorFalse" name="vendor" value="false" checked/><label for="vendorFalse" class="radioLabel">No</label>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-12">
              <div class="fieldItem">
                <a class="btn btn-txt pull-right js-adminUpdateProfile">Change Profile</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <h3>System</h3>
    <div class="box-border row20">
      <div class="flex-border">
        <div class="flexRow">
          <div class="flexCol-12">
            <div class="fieldItem">
              <div class="pull-left adminMsg"></div>
              <a class="btn btn-txt pull-right js-adminShutdown">Turn Server Off</a>
            </div>
          </div>
        </div>
        <div class="flexRow">
          <div class="flexCol-12">
            <div class="fieldItem">
              <a class="btn btn-txt pull-right js-adminCloseApp">Close This Application</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3>Connected Peers</h3>
    <div class="box-border row20">
      <div class="flex-border">
        <div class="flexRow">
          <div class="flexCol-12">
            <div class="fieldItem">
              <div class="js-adminPeers"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3>Routing Table</h3>
    <div class="box-border row20">
      <div class="flex-border">
        <div class="flexRow">
          <div class="flexCol-12">
            <div class="padding10 textSize12px js-adminRoutingTable"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
