<div class="modal modal-navBlock modal-opaque js-adminModal">
  <div class="modal-child modal-childMain pad20">
    <div class="btn-cornerTR js-closeModal">
      <h2 class="ion-close-circled"></h2>
    </div>
    <div class="row20 rowTop20">
      <h1 class="txt-center">Admin Panel</h1>
    </div>
    <p class="txt-center">Use for testing</p>
    <p class="txt-center">Server is <span class="js-adminCurrentServer"><%= ob.server_url %></span></p>

    <form id="adminPanelServer" class="rowTop20">
      <div class="flex-border">
        <div class="flexRow">
          <div class="flexCol-5">
            <div class="fieldItem">
              <label for="changeServerInput">Change Server</label>
              <div class="js-adminServerMsg"></div>
            </div>
          </div>
          <div class="flexCol-7 positionWrapper">
            <input type="text" name="server_url" class="fieldItem" id="changeServerInput"/>
            <a class="btn btn-txt btn-cornerTR js-adminServer">Set</a>
          </div>
        </div>
      </div>
    </form>

    <form id="adminPanelModerator" class="rowTop20">
      <div class="flex-border">
        <div class="flexRow">
          <div class="flexCol-5">
            <div class="fieldItem">
              <label>Moderator:</label>
              <div class="js-adminModeratorMsg"></div>
            </div>
          </div>
          <div class="flexCol-7">
            <div class="fieldItem">
              <a class="btn btn-txt pull-left marginRight5 js-adminMakeModerator">Become Moderator</a>
              <a class="btn btn-txt pull-left js-adminUnmakeModerator">Stop being Moderator</a>
            </div>
          </div>
        </div>
      </div>
    </form>

    <form id="adminPanelAvatar" class="rowTop20">
      <div class="flex-border">
        <div class="flexRow">
          <div class="flexCol-5">
            <div class="fieldItem">
              <label for="adminAvatarImageInput">Upload Avatar Image:</label>
              <div class="js-adminAvatarMsg"></div>
            </div>
          </div>
          <div class="flexCol-7">
            <div>
              <input type="file" name="avatar" class="js-adminAvatarImage" id="adminAvatarImageInput"/>
            </div>
            <div class="rowTop20 thumbnail thumbnail-large js-avatarHolder box-borderBright"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>