<% if(_.intersection(_.pluck(ob.user.shipping_addresses, 'country'), ob.vendor_offer.listing.shipping.shipping_regions).length < 1 && !ob.worldwide) { %>
<div class="flexRow custCol-primary custCol-border">
  <div class="rowItem padding10 txt-center">
    <strong><%= polyglot.t('buyFlow.NoShippableAddresses') %></strong>
  </div>
</div>
<% } %>
<% _.each(ob.user.shipping_addresses, function(address, i){ %>
  <% if(address.country && address.displayCountry && address.name) { %>
    <% if(ob.worldwide || ob.vendor_offer.listing.shipping.shipping_regions.indexOf(address.country) > -1){ %>
    <div class="flexRow custCol-primary custCol-border js-buyWizardAddress pad10">
      <input type="radio"
             class="fieldItem js-buyWizardAddressRadio hide"
             name="address" id="buyWizardAddress<%= i %>"
             value="<%= i %>" <% if(ob.selected == i){ %>checked<% } %> />
      <label for="buyWizardAddress<%= i %>" class="width100 textOpacity1 textSize13px paddingRight5">
        <div class="flexRow">
          <div class="flexCol-8 buyAddressWrapper">
            <div class="row5 txt-unleaded"><strong><%= address.name %></strong></div>
            <div>
              <%= address.street %>
            </div>
            <div>
              <%= address.city %><% if(address.city && address.state || address.city && address.postal_code) print(",") %>
              <%= address.state %> <%= address.postal_code %>
            </div>
            <div>
              <%= address.alternate_contact %>
            </div>
            <div>
              <%= address.displayCountry %>
            </div>
          </div>
          <div class="flexCol-4">
            <div class="fontWeight500 textOpacity1 textSize14px marginTop25 minWidth120 js-buyWizardAddressSelected ">
              <% if(address.country == ob.vendor_offer.listing.shipping.shipping_origin){ %>
                <% if(ob.vendor_offer.listing.shipping.free){ %>
                  <%= polyglot.t('FreeShipping') %>
                <% } else { %>
                  <%= ob.displayDomesticShipping %>
                  <% if(ob.userCurrencyCode != 'BTC'){ %>
                  <div class="textOpacity75 textSize12px letterSpacing02">(<%= ob.formatBitcoin(ob.domesticShippingBTC, 4) %>)</div>
                  <% } %>
                <% } %>
              <% } else { %>
                <% if(ob.vendor_offer.listing.shipping.free){ %>
                  <%= polyglot.t('FreeShipping') %>
                <% } else { %>
                  <%= ob.displayInternationalShipping %>
                  <% if(ob.userCurrencyCode != 'BTC'){ %>
                  <div class="textOpacity75 textSize12px letterSpacing02">(<%= ob.formatBitcoin(ob.internationalShippingBTC, 4) %>)</div>
                  <% } %>
                <% } %>
              <% } %>
            </div>
          </div>
        </div>
      </label>
    </div>
    <% } %>
  <% } %>
<% });%>

<% _.each(ob.user.shipping_addresses, function(address, i){ %>
  <% if(address.country && address.displayCountry && address.name) { %>
    <% if(!ob.worldwide && ob.vendor_offer.listing.shipping.shipping_regions.indexOf(address.country) < 0){ %>
    <div class="flexRow custCol-primary custCol-border js-buyWizardAddress disabled2 pad10">
      <input type="radio" class="fieldItem" name="address" id="buyWizardAddressDisabled<%= i %>" value="<%= i %>" disabled/>
      <label for="buyWizardAddress<%= i %>" class="width100 textOpacity1 textSize13px paddingRight5">
        <div class="flexRow">
          <div class="flexCol-8 buyAddressWrapper">
            <div class="row5 txt-unleaded"><strong><%= address.name %></strong></div>
            <div>
              <%= address.street %>
            </div>
            <div>
              <%= address.city %><% if(address.city && address.state || address.city && address.postal_code) print(",") %>
              <%= address.state %> <%= address.postal_code %>
            </div>
            <div>
              <%= address.alternate_contact %>
            </div>
            <div>
              <%= address.displayCountry %>
            </div>
          </div>
          <div class="flexCol-4">
            <div class="fontWeight500 textOpacity1 textSize14px marginTop25 minWidth120">
              <%= polyglot.t('buyFlow.DoesNotShipHere') %>
            </div>
          </div>
        </div>
      </label>
    </div>
    <% } %>
  <% } %>
<% });%>

