<div class="flexRow">
  <div class="flexRow custCol-border borderBottom hide js-buyWizardOrderSummary">
    <div class="rowItem padding2015">
      <%= polyglot.t('buyFlow.summaryMsg1') %> <% if(ob.page.profile.handle){ %><%- ob.page.profile.handle %><% } else { %><%- ob.page.profile.guid %><% } %>.
      <%= polyglot.t('buyFlow.summaryMsg2') %> <%- ob.vendor_offer.listing.item.process_time %>. <%= polyglot.t('buyFlow.summaryMsg3') %>
      <a href="#purchases"><%= polyglot.t('buyFlow.purchasesPage') %>.</a>
    </div>
  </div>
  <div class="flexRow custCol-border borderBottom">
    <div class="flexCol-6 borderRight">
      <div class="rowItem padding2015">
        <div class="table">
          <div>
            <div class="thumbnail-large-slim">
              <div class="thumbnail thumbnail-large-slim"
                  <% if(ob.vendor_offer.listing.item.image_hashes[0]) { %>
                  style="background-image: url(<%- ob.serverUrl %>get_image?hash=<%- ob.vendor_offer.listing.item.image_hashes[0] %><%- ob.imageExtension %>), url(imgs/defaultItem.png);">
                  <% } else { %>
                  style="background-image: url(imgs/defaultItem.png);">
                  <% } %>
              </div>
            </div>
            <div class="pad10left txt-unleaded">
              <div class="row10"><strong><%- ob.vendor_offer.listing.item.title %></strong></div>
              <div class="noOverflow textOpacity75">Sold by <% if(ob.page.profile.handle){ %><%- ob.page.profile.handle %><% } else { %><%- ob.page.profile.guid %><% } %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flexCol-2 borderRight">
      <div class="rowItem padding2015">
        <form id="buyWizardQuantity">
          <input type="number" step="1" min="1" class="fieldItem spinButtons js-buyWizardQuantity" value="1"/>
        </form>
        <span class="fieldItem js-buyWizardQuantityDisplay hide"></span>
      </div>
    </div>
    <div class="flexCol-4">
      <div class="rowItem padding2015">
        <span class="fieldItem js-buyWizardPrice"><%- ob.displayPrice %></span>
      </div>
    </div>
  </div>

  <!-- only display shipping if physical item -->
  <% if( ob.vendor_offer.listing.metadata.category === "physical good" ) { %>  
  <div class="flexRow custCol-border borderBottom">
    <div class="flexCol-6 borderRight">
      <div class="rowItem padding2015">
        <div class="table">
          <div>
            <div class="thumbnail-large-slim">
              <div class="thumbnail thumbnail-large-slim"
              <% if(ob.user.avatar_hash){ %>
              style="background-image: url(<%- ob.serverUrl %>get_image?hash=<%- ob.user.avatar_hash %>), url(imgs/defaultUser.png);">
              <% } else { %>
              style="background-image: url(imgs/defaultUser.png);">
              <% } %>
              </div>
            </div>
            <div class="pad10left txt-unleaded">
              <% if(ob.selectedAddress) { %>
              <div class="row10"><strong>Ship To</strong></div>
              <div><%- ob.selectedAddress.name %></div>
              <div><%- ob.selectedAddress.street %></div>
              <div><%- ob.selectedAddress.city %>, <%- ob.selectedAddress.state %> <% ob.selectedAddress.postal_code %></div>
              <div><%- ob.selectedAddress.displayCountry %></div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flexCol-2 borderRight">
      <div class="rowItem padding2015">
      </div>
    </div>
    <div class="flexCol-4">
      <div class="rowItem padding2015">
        <span class="fieldItem js-buyWizardShippingPrice"><%- ob.currentShippingDisplayPrice %></span>
      </div>
    </div>
  </div>
  <% } %>

  <div class="flexRow custCol-border borderBottom">
    <div class="flexCol-6 borderRight">
      <div class="rowItem padding2015">
        <div class="table">
          <div>
            <% if(ob.selectedModerator){ %>
            <div class="thumbnail-large-slim">
              <div class="thumbnail thumbnail-large-slim"
                  <% if(ob.selectedModerator.avatar){ %>
                  style="background-image: url(<%- ob.serverUrl %>get_image?hash=<%- ob.selectedModerator.avatar %>&guid=<%- ob.selectedModerator.guid %>), url(imgs/defaultUser.png);">
                  <% } else { %>
                  style="background-image: url(imgs/defaultUser.png);">
                  <% } %>
              </div>
            </div>
            <div class="pad10left txt-unleaded">
              <div class="row10"><strong>Moderated Transaction</strong></div>
              <div class="noOverflow textOpacity75">Service by
                <% if(ob.selectedModerator.blockchain_id){ %>
                <%- ob.selectedModerator.blockchain_id %>
                <% } else { %>
                <%- ob.selectedModerator.guid %>
                <% } %>
              </div>
            </div>
            <% } else { %>
            Direct Purchase <%- ob.selectedModerator %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="flexCol-2 borderRight">
      <div class="rowItem padding2015">
      </div>
    </div>
    <div class="flexCol-4">
      <div class="rowItem padding2015">
        <span class="fieldItem js-buyWizardModeratorPrice"></span>
      </div>
    </div>
  </div>
</div>
