<div class="modal modal-opaque js-buyWizardModal fadeOut">
  <div class="modal-child modal-childMain">
    <div class="btn-corner btn-cornerTR btn-cornerTROutR btn-flushTop js-closeBuyWizardModal">
      <h2 class="ion-close-round"></h2>
    </div>
    <div class="modal-hero js-buyWizardHero shadow-inner1-light"
         style="background-image: url(<%- ob.serverUrl %>get_image?hash=<%- ob.vendor_offer.listing.item.image_hashes[0] %><%- ob.imageExtension %>), url(imgs/defaultBanner.png);">
    </div>
    <div class="homeModal-accordion accordion js-buyWizardAccordion">
      <div class="accordion-window">
        <div class="accordion-child">
          <div class="bar barTxt h6 paddingLeft15 custCol-secondary">
            <%= polyglot.t('PaymentType') %>
          </div>
          <div class="flexContainer flex-border homeModal-settings homeModal-settings-noSearch scrollOverflow custCol-primary">
            <div class="flexRow">
              <% _.each(ob.vendor_offer.listing.moderators, function(moderator, i) { %>
                <div class="flexRow">
                  <div class="rowItem padding2015">
                    <input type="radio" class="fieldItem js-buyWizardModeratorRadio" name="moderator" id="buyWizardModeratorRadio<%- i %>" value="<% i %>"/>
                    <label for="buyWizardModeratorRadio<%- i %>">
                      <div class="table">
                        <div>
                          <div class="thumbnail thumbnail-large-slim box-border"
                               <% if(moderator.avatar != ""){ %>
                               style="background-image: url(<%- ob.serverUrl %>get_image?hash=<%- moderator.avatar %>&guid=<%- moderator.guid %>), url(imgs/defaultUser.png);">
                               <% } else { %>
                               style="background-image: url(imgs/defaultUser.png);">
                               <% } %>
                          </div>
                          <div class="pad10Left txt-unleaded">
                            <div class="row10"><strong>Moderated by <%- moderator.name %> <%- moderator.blockchain_id %> <%- moderator.fee %></strong></div>
                            <div><%- moderator.guid %></div>
                            <div><%- moderator.short_description %></div>
                          </div>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              <% }); %>
              <div class="flexRow">
                <div class="rowItem padding2015">
                  <input type="radio" class="fieldItem js-buyWizardModeratorRadio" name="moderator" id="buyWizardNoModerator" value="direct"/>
                  <label for="buyWizardNoModerator">
                    <div class="table">
                      <div>
                        <div class="thumbnail thumbnail-large-slim box-border"
                             style="background-image: url(<%- ob.serverUrl %>get_image?hash=<%- ob.avatar_hash %><%- ob.imageExtension %>), url(imgs/defaultItem.png);">
                        </div>
                        <div class="pad10left txt-unleaded">
                          <div class="row10"><strong>Direct</strong></div>
                          <div>Send fund directly to <%- ob.handle %></div>
                        </div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="bar barFlush custCol-secondary borderBottomLeftRaidus3 borderBottomRightRaidus3">
            <a class="btn btn-bar btn-half js-closeBuyWizardModal custCol-secondary borderBottomLeftRaidus3"><%= polyglot.t('Cancel') %></a>
            <a class="btn btn-bar btn-half js-accordionNext js-buyWizardModalModDone disabled custCol-secondary custCol-border-primary borderBottomRightRaidus3"><%= polyglot.t('Next') %></a>
          </div>
        </div>
        <div class="accordion-child">
          <div class="bar barTxt h6 paddingLeft15 custCol-secondary">
            <div class="js-buyWizardAddress">
              <%= polyglot.t('ShipTo') %>
              <a class="btn btn-txt custCol-primary rowTop10 pull-right js-buyWizardNewAddressBtn">New</a>
            </div>
            <div class="js-buyWizardNewAddress hide">
              <%= polyglot.t('NewAddress') %>
            </div>
          </div>
          <div class="flexContainer flex-border homeModal-settings homeModal-settings-noSearch scrollOverflow custCol-primary">
            <div class="flexRow">
              <div class="js-buyWizardAddresses">
                <!--insert addresses-->
              </div>
              <form id="buyWizardNewAddressForm" class="js-buyWizardNewAddress hide">
                <div class="flexRow">
                  <div class="flexCol-4">
                    <div class="fieldItem">
                      <label for="buyWizardNameInput">Name</label>
                    </div>
                  </div>
                  <div class="flexCol-8 positionWrapper">
                    <input type="text" name="new_ship_to_name" class="fieldItem" id="buyWizardNameInput" required/>
                  </div>
                </div>
                <div class="flexRow">
                  <div class="flexCol-4">
                    <div class="fieldItem">
                      <label for="buyWizardStreetInput">Street Address</label>
                    </div>
                  </div>
                  <div class="flexCol-8 positionWrapper">
                    <input type="text" name="new_ship_to_street" class="fieldItem" id="buyWizardStreetInput" required/>
                  </div>
                </div>
                <div class="flexRow">
                  <div class="flexCol-4">
                    <div class="fieldItem">
                      <label for="buyWizardCityInput">City</label>
                    </div>
                  </div>
                  <div class="flexCol-8 positionWrapper">
                    <input type="text" name="new_ship_to_city" class="fieldItem" id="buyWizardCityInput" required/>
                  </div>
                </div>
                <div class="flexRow">
                  <div class="flexCol-4">
                    <div class="fieldItem">
                      <label for="buyWizardStateInput">State</label>
                    </div>
                  </div>
                  <div class="flexCol-8 positionWrapper">
                    <input type="text" name="new_ship_to_state" class="fieldItem" id="buyWizardStateInput" required/>
                  </div>
                </div>
                <div class="flexRow">
                  <div class="flexCol-4">
                    <div class="fieldItem">
                      <label for="buyWizardPostalInput">Postal Code</label>
                    </div>
                  </div>
                  <div class="flexCol-8 positionWrapper">
                    <input type="text" name="new_ship_to_street" class="fieldItem" id="buyWizardPostalInput" required/>
                  </div>
                </div>
                <div class="flexRow">
                  <div class="flexCol-4">
                    <div class="fieldItem">
                      <label for="buyWizardStreetInput">Country</label>
                    </div>
                  </div>
                  <div class="flexCol-8 positionWrapper">
                    <div class="fieldItem padding0">
                      <div class="fieldItem-selectWrapper noIcon js-buyWizardCountryWrapper"></div>
                    </div>
                  </div>
                </div>
                <!--spacer for chosen. Kind of horrible. TODO: find way to expand container when Chosen opens-->
                <div class="flexRow flexRow-noBorderBottom row320"></div>
              </form>
            </div>
          </div>
          <div class="bar barFlush custCol-secondary borderBottomLeftRaidus3 borderBottomRightRaidus3">
            <a class="btn btn-bar btn-half js-accordionPrev js-buyWizardAddress js-buyWizardAddressBack custCol-secondary borderBottomLeftRaidus3"><%= polyglot.t('Back') %></a>
            <a class="btn btn-bar btn-half js-accordionNext js-buyWizardAddress custCol-secondary custCol-border-primary borderBottomRightRaidus3"><%= polyglot.t('Next') %></a>
            <a class="btn btn-bar btn-half js-buyWizardNewAddressCancel js-buyWizardNewAddress hide custCol-secondary borderBottomLeftRaidus3"><%= polyglot.t('Cancel') %></a>
            <a class="btn btn-bar btn-half js-buyWizardNewAddressSave js-buyWizardNewAddress hide custCol-secondary custCol-border-primary borderBottomRightRaidus3"><%= polyglot.t('Save') %></a>
          </div>
        </div>
        <div class="accordion-child">
          <div class="bar barTxt h6 paddingLeft15 custCol-secondary">
            <%= polyglot.t('OrderDetails') %>
          </div>
          <div class="flexContainer flex-border homeModal-settings homeModal-settings-noSearch js-buyWizardDetails scrollOverflow custCol-primary">
          <!--inser details view-->
          </div>
          <div class="bar barFlush custCol-secondary borderBottomLeftRaidus3 borderBottomRightRaidus3">
            <a class="btn btn-bar btn-half js-closeBuyWizardModal custCol-secondary borderBottomLeftRaidus3"><%= polyglot.t('Cancel') %></a>
            <a class="btn btn-bar btn-half js-accordionNext custCol-secondary custCol-border-primary borderBottomRightRaidus3"><%= polyglot.t('Next') %></a>
          </div>
        </div>
        <div class="accordion-child">
          <div class="bar barTxt h6 paddingLeft15 custCol-secondary">
            <%= polyglot.t('OrderSummary') %>
          </div>
          <div class="flexContainer flex-border homeModal-settings homeModal-settings-noSearch scrollOverflow custCol-primary">
            <div class="flexRow">
              <div class="flexRow custCol-border-secondary">
                <div class="flexCol-12">
                  <div class="fieldItem">
                    <input type="radio" class="fieldItem" id="nsfwTrue" name="nsfw" value="true" /><label for="nsfwTrue" class="radioLabel">Yes</label>
                    <input type="radio" class="fieldItem" id="nsfwFalse" name="nsfw" value="false" checked/><label for="nsfwFalse" class="radioLabel">No</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bar barFlush custCol-secondary borderBottomLeftRaidus3 borderBottomRightRaidus3">
            <a class="btn btn-bar btn-half js-closeBuyWizardModal custCol-secondary borderBottomLeftRaidus3"><%= polyglot.t('Cancel') %></a>
            <a class="btn btn-bar btn-half js-accordionNext custCol-secondary custCol-border-primary borderBottomRightRaidus3"><%= polyglot.t('Next') %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>