<h1><%= polyglot.t('ServerChangeWarningHeadline') %></h1>
<p><%= polyglot.t('ServerChangeWarning') %></p>
<ul class="padding0">
  <li class="list-style-none">Server IP: <%= ob.server_ip %></li>
  <li class="list-style-none">Rest API Port: <%= ob.rest_api_port %></li>
  <li class="list-style-none">Websocket API Port: <%= ob.api_socket_port %></li>
  <li class="list-style-none">Heartbeat Socket Port: <%= ob.heartbeat_socket_port %></li>
  <li class="list-style-none">Username: <%= ob.username %></li>
  <li class="list-style-none">Password: <%= ob.password %></li>
</ul>