<h1>Please Note Settings</h1>
<p>We noticed you have changed your settings. Below, we have ouptut the previous values. It is recommended that you store them in case you want to re-connect using them. Some of the settings (notably username &amp; password) will no longer be available beyond this point.</p>
<ul class="padding0">
  <li class="list-style-none">Server IP: <%= ob.server_ip %></li>
  <li class="list-style-none">Rest API Port: <%= ob.rest_api_port %></li>
  <li class="list-style-none">Websocket API Port: <%= ob.api_socket_port %></li>
  <li class="list-style-none">Heartbeat Socket Port: <%= ob.heartbeat_socket_port %></li>
  <li class="list-style-none">Username: <%= ob.username %></li>
  <li class="list-style-none">Password: <%= ob.password %></li>
</ul>