<% if (ob.message_type == "DISPUTE_OPEN" || ob.message_type == "dispute_open") { %>
<hr>
<div class="pad10"><%= polyglot.t('StartDisputeFlag') %></div>
<hr>
<% } %>
<div class="chatConversationMessageLine">
    <div class="flexRow">
        <div class="chatConversationMessageTimestamp paddingLeft2">
            <div><%= ob.moment(new Date(ob.timestamp * 1000)).format('MMM D, h:mm A') %></div>
        </div>
    </div>
    <div class="flexRow noFlexWrap">
        <% if (!ob.outgoing) { %>
            <a class="thumbnail custcol-border marginRight2"
                style="background-image: <% if (ob.avatar_hash) {%>url(<%= ob.serverUrl %>/get_image?hash=<%= ob.avatar_hash %>&guid=<%= ob.guid %>),<% } %> url(imgs/defaultUser.png); height: 30px; width: 30px"
                href="#userPage/<%= ob.guid %>/store">
            </a>
            <% if(ob.guid == ob.moderatorGuid || ob.sender && ob.sender == ob.moderatorGuid){ %>
            <div class="chatConversationMessageBody marginRight2 flexSizeFixed">
                <div class="inner">(<%= polyglot.t('transactions.Moderator') %>)</div>
            </div>
            <% } else if(ob.guid == ob.vendorGuid || ob.sender && ob.sender == ob.vendorGuid){ %>
            <div class="chatConversationMessageBody marginRight2 flexSizeFixed">
                <div class="inner">(<%= polyglot.t('transactions.Seller') %>)</div>
            </div>
            <% } else if(ob.guid == ob.buyerGuid || ob.sender && ob.sender == ob.buyerGuid){ %>
            <div class="chatConversationMessageBody marginRight2 flexSizeFixed">
                <div class="inner">(<%= polyglot.t('transactions.Buyer') %>)</div>
            </div>
            <% } %>
        <% } %>
        
        <div class="chatConversationMessageBody flexExpand">
            <% if (ob.outgoing) { %>
            <div class="inner pull-right"><%= ob.sanitizedMsg %></div>
            <% } else { %>
            <div class="inner pull-left"><%= ob.sanitizedMsg %></div>
            <% } %>
        </div>
        
        <% if (ob.outgoing) { %>
            <% if(ob.transactionType == "cases"){ %>
                <div class="chatConversationMessageBody marginLeft2 flexSizeFixed">
                    <div class="inner">(<%= polyglot.t('transactions.Moderator') %>)</div>
                </div>
                <% } else if(ob.transactionType == "sales"){ %>
                <div class="chatConversationMessageBody marginLeft2 flexSizeFixed">
                    <div class="inner">(<%= polyglot.t('transactions.Seller') %>)</div>
                </div>
                <% } else if(ob.transactionType == "purchases"){ %>
                <div class="chatConversationMessageBody marginLeft2 flexSizeFixed">
                    <div class="inner">(<%= polyglot.t('transactions.Buyer') %>)</div>
                </div>
            <% } %>

            <a class="thumbnail custcol-border marginLeft2"
             style="background-image: <% if (ob.user.avatar_hash) {%>url(<%= ob.serverUrl %>/get_image?hash=<%= ob.user.avatar_hash %>&guid=<%= ob.user.guid %>),<% } %> url(imgs/defaultUser.png); height: 30px; width: 30px"
                 href="#userPage/<%= ob.user.guid %>/store">
            </a>
        <% } %>
    </div>
</div>
<% if (ob.message_type == "DISPUTE_CLOSE" || ob.message_type == "dispute_close") { %>
<hr>
<div class="pad10"><%= polyglot.t('EndDisputeFlag') %></div>
<hr>
<% } %>

