<div class="newChatButton">
    <a class="btn btn-newChat js-newChat">+ <span class="hide">New</span></a>
    <div class="btn btn-closeChat js-closeChat ion-close-round"></div>
</div>
<hr/>
<div class="chatSearch">
    <a class="chatSearchIcon ion-search js-chatSearch"></a>
    <input id="chatSearchField" type="text" placeholder="Search by GUID" value=""/>
</div>
<hr/>


<div class="chatConversation chatConversationHidden">
    <div class="chatConversationHeader">
        <div class="chatConversationLabel">New Conversation</div>
        <div class="btn-closeConversation">
            <a class="ion-close-round js-closeConversation"></a>
        </div>
    </div>
    <div class="chatConversationContent"></div>

    <div class="chatConversationTo hide">
        <div class="chatConversationToLabel">To:</div>
        <div class="chatConversationToInput">
            <input type="text" name="conversation_recipient" id="inputConversationRecipient" placeholder="Enter GUID"/>
        </div>
        <br clear="both"/>
    </div>
    <div class="chatConversationMessage">
        <textarea name="conversation_message" id="inputConversationMessage" class="" rows="3" placeholder="<%= polyglot.t('EnterMessage') %>"></textarea>
    </div>
</div>