<div class="mainContainer marginTop50 pad20">
  <div class="rowTop20">
    <div>
      <h2>Support Open Bazaar</h2>
    </div>

    <div>
      <p>You can help OpenBazaar in several ways on our mission to make trade free.</p>

      <p>Buying and selling goods and services on the network helps grow our community and make the platform more attractive to new users. Politely asking Bitcoin-accepting businesses to sell on the platform helps spread the word and shows demand for peer to peer trade.</p>

      <p>If you're a developer, check out <a href="https://github.com/OpenBazaar/">our Github</a> and see where you can help us. Beyond helping with the core code, we hope the permissionless and open source nature of the project means you will build new services on top of the existing network.</p>

      <p>You can also <a href="https://blockchain.info/address/3MXYUBLWNETa5HTewZp1xMTt7AW9kbFNqs">donate Bitcoin</a> to the project, which will be used to defray costs for visiting conferences, offering bounties for development, and promoting OpenBazaar.</p>

      <p>Please <a href="https://openbazaar-slackin-drwasho.herokuapp.com/">join our Slack</a> if you have new ideas for OpenBazaar, or have questions for the core devs.</p>
    </div>
  </div>
</div>