<div class="modal-hero modal-shadow-inner1 bg-dark-blue custCol-primary-darken">
  <div class="modal-hero-icon"></div>
  <p class="h6 homeModal-heroText fancy-heading"><%= polyglot.t('Welcome') %></p>
</div>
<div class="accordion-window" style="left: 0;">
  <div class="accordion-child accordion-active custCol-primary overflowHidden" style="width: 525px; height: 374px;">
    <div class="bar barTxt h6 custCol-secondary custCol-text">
      <i class="ion-android-sync spinner"></i>
      <span class="textOpacity75 fontSize14"><%= polyglot.t('guidStillCreating.HangTight') %></span>
    </div>
    <div class="flexContainer">
      <div class="flexRow">
        <p class="margin0 padding015 marginBottom20 marginTop20"><%= polyglot.t('guidStillCreating.YourPersonal') %></p>
        <p class="margin0 padding015"><%= polyglot.t('guidStillCreating.LookingFor') %></p>
      </div>
    </div>
  </div>
</div>
