<div class="mainContainer marginTop50">
  <div class="welcomeBar">
    <div>
      <%= polyglot.t('Welcome') %>: <span class="js-currentDate textOpacity75"></span>
      <a class="btn btn-txt custCol-background vCentered right10 js-homeCreateStore"><%= polyglot.t('CreateStore') %></a>
    </div>
  </div>
  <div class="bar barFlush navBar">
    <a class="btn btn-bar active js-homeItemsBtn"><%= polyglot.t('Items') %></a>
    <a class="btn btn-bar js-homeStoresBtn"><%= polyglot.t('Stores') %></a>
  </div>
  <div class="flexContainer flex-border">
    <div class="flexRow">
      <div class="flexRow">
        <div class="txtFieldWrapper searchWrapper">
          <input type="text" class="txtField txtField-bar" placeholder="<%= polyglot.t('SearchForItemsPlaceholder') %>" />
        </div>
      </div>
    </div>
    <div class="flexRow flexRow-wrap js-list1">
      <div class="padding10 width100 box-border">
        <h2 class="txt-center txt-unleaded js-itemLoadingMsg"><i class="ion-loop spinner"></i>Looking for Items</h2>
      </div>
    </div>
    <div class="flexRow js-list2">
      <div class="padding10 width100 box-border">
        <h2 class="txt-center txt-unleaded js-itemLoadingMsg"><i class="ion-loop spinner"></i>Looking for Stores</h2>
      </div>
    </div>
  </div>
  <div class="navBar footerBar"></div>
</div>
<div id="modalHolder"></div>