<div class="mainContainer">
  <div class="home-page-header">
    <div class="welcomeBar">
      <div>
        <h1 class="fancy-heading fontSize20 vCentered"><%= polyglot.t('Discover') %></h1>
        <a href="#userPage" class="btn btn-txt custCol-background positionRelative pull-right right10 marginTop9 marginLeft6">
          <%= polyglot.t('GoToMyPage') %>
        </a>
        <a  class="btn btn-txt custCol-background positionRelative pull-right marginTop9 right10 js-homeCreateStore">
          <%= polyglot.t('CreateStore') %>
        </a>        
      </div>
    </div>

    <div class="bar barFlush navBar home-page-navigation">
      <a class="btn btn-bar btn-tab js-homeFeedBtn"><%= polyglot.t('Feed') %></a>
      <a class="btn btn-bar btn-tab active js-homeItemsBtn"><%= polyglot.t('Listings') %></a>
      <a class="btn btn-bar btn-tab js-homeStoresBtn"><%= polyglot.t('Pages') %></a>
    </div>
  </div>
  <div class="bar home-page-navigation-filler hide custCol-primary"></div>
  <div class="flexContainer flex-border color-primary height54">
    <div class="flexRow">
      <div class="flexRow border0">
        <div class="js-homeItemsSearch width100">
          <div class="txtFieldWrapper searchWrapper searchWrapperWithPill borderBottom">
            <input type="text" class="txtField txtField-bar" placeholder="<%= polyglot.t('SearchForItemsPlaceholder') %>" />
          </div>
          <div class="selectPill pull-up43">
            <select class="custCol-secondary">
              <option value="following"><%= polyglot.t('filters.listingsCurated') %></option>
              <option value="network"><%= polyglot.t('filters.listingsAll') %></option>
            </select>
          </div>
        </div>

        <div class="js-homeStoresSearch width100 hide">
          <div class="txtFieldWrapper searchWrapper searchWrapperWithPill borderBottom">
            <input type="text" class="txtField txtField-bar" placeholder="<%= polyglot.t('SearchForPagesPlaceholder') %>" />
          </div>
          <div class="selectPill pull-up43">
            <select class="custCol-secondary">
              <option value="all"><%= polyglot.t('filters.pagesAllTypes') %></option>
              <option value="stores" selected><%= polyglot.t('filters.pagesStores') %></option>
              <option value="moderators"><%= polyglot.t('filters.pagesMods') %></option>
              <option value="basic"><%= polyglot.t('filters.pagesBasic') %></option>
            </select>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="flexRow flexRow-wrap color-primary js-list1 minHeight650">
      <div class="padding10 width100 alignCenter js-loadingMsg borderBottom borderTop pull-up1">
        <i class="ion-loop spinner textSize24px textOpacity50"></i>
      </div>
    </div>
    <div class="flexRow js-list2 color-primary minHeight650 hide">
      <div class="padding10 width100 alignCenter js-loadingMsg borderBottom borderTop pull-up1">
        <i class="ion-loop spinner textSize24px textOpacity50"></i>
      </div> 
    </div>
    <div class="js-list3 minHeight650 hide alignCenter fontSize14 color-primary">
      <h1 class="fancy-heading width100"><%= polyglot.t('ComingSoon') %></h1>
      <div class="row20">
        <span class="fontSize16"><%= polyglot.t('FeedPlaceholder') %></span>
      </div>
      <img src="./imgs/feed-coming-soon.png" style="width: 497px;" />
    </div>
    <div class="navBar custCol-secondary" style="padding: 4px 0"></div>
  </div>
</div>