<div class="gridItem clearfix custCol-border">
  <div class="itemImg row10 custCol-secondary js-item" data-id="<%- ob.contract_hash %>"
    style="background-image: url(<%- ob.imageURL %>), url(imgs/defaultItem.png);">
  </div>
  <div class="table">
    <div>
      <% if(ob.showAvatar) { %>
      <div class="thumbnail-small js-avatar tooltip" data-tooltip="<%- ob.handle %>" data-handle="<%- ob.handle %>"
        style="background-image: <% if(ob.avatar_hash && ob.avatarURL) { %> url(<%- ob.avatarURL %>), <% } %>url(imgs/defaultUser.png);"></div>
      <% } %>
      <div class="js-item pad8Left" data-id="<%- ob.contract_hash %>">
        <div class="textSize14px noOverflow textOpacity1"><a><%- ob.title %></a></div>
        <div class="textSize13px txt-fade textWeightNormal">
          <%- ob.displayPrice %>
          <% if(ob.userCurrencyCode != 'BTC'){ %>
          (<%- ob.vendorBTCPrice %> BTC)
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

