<div class="gridItem clearfix custCol-border">
  <div class="itemImg row10 custCol-secondary js-item" data-id="<%- ob.contract_hash %>"
    style="background-image: url(<%- ob.imageURL %>), url(imgs/defaultItem.png);">
  </div>
  <div class="table">
    <div>
      <% if(ob.showAvatar) { %>
      <div class="thumbnail-small js-avatar tooltip" data-tooltip="<%- ob.handle %>" data-handle="<%- ob.handle %>"
        style="background-image: <% if(ob.avatar_hash && ob.avatarURL) { %> url(<%- ob.avatarURL %>), <% } %>url(imgs/defaultUser.png);"></div>
      <% } %>
      <div class="js-item pad8Left" data-id="<%- ob.contract_hash %>">
        <div class="textSize14px noOverflow textOpacity1 js-searchTitle"><%- ob.title %></div>
        <div class="textSize13px txt-fade textWeightNormal">
          <%- ob.displayPrice %>
          <% if(ob.userCurrencyCode != 'BTC'){ %>
          (<%- ob.vendorBTCPrice %> BTC)
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="gridItemControls custCol-border custCol-primary">
    <div class="table">
      <div>
        <% if(ob.discover) { %>
          <div class="btn-gridItemControl borderRight custCol-border js-avatar">
            <span class="ion-ios-book fontSize11 marginRight2 textOpacity1"></span>
            <%= polyglot.t('About') %>
          </div>

          <% if(!ob.micro && !ob.hideFollow){ %>
            <div class="btn-gridItemControl borderRight custCol-border js-userShortUnfollow <% if(!ob.ownFollowing){ %> hide <% } %>">
              <span class="ion-eye-disabled fontSize11 marginRight2 textOpacity1"></span>
              <%= polyglot.t('Unfollow') %>
            </div>
            <div class="btn-gridItemControl borderRight custCol-border js-userShortFollow <% if(ob.ownFollowing){ %> hide <% } %>">
              <span class="ion-person-add fontSize11 marginRight2 textOpacity1"></span>            
              <%= polyglot.t('Follow') %>
            </div>
          <% } %>

          <div class="btn-gridItemControl custCol-border <%= !ob.isBlocked ? 'js-blockUser' : 'js-unblockUser' %>">
            <span class="<%= !ob.isBlocked ? 'ion-sad' : 'ion-happy' %> fontSize11 marginRight2 textOpacity1"></span>
            <%= !ob.isBlocked ? polyglot.t('Block') : polyglot.t('Unblock') %>
          </div>
        <% } %>

        <% if(ob.ownPage){ %>
          <div class="btn-gridItemControl borderRight custCol-border js-itemShortEdit">
            <span class="ion-compose fontSize11 marginRight2 textOpacity1"></span>
            <%= polyglot.t('Edit') %>
          </div>  
          <div class="btn-gridItemControl borderRight custCol-border js-itemShortDelete">
            <span class="ion-trash-b fontSize11 marginRight2 textOpacity1"></span>
            <%= polyglot.t('Delete') %>
          </div>           
        <% } %>

        <% if(!ob.ownPage && ob.discover === undefined){ %>
          <div class="btn-gridItemControl borderRight custCol-border js-item" data-id="<%- ob.contract_hash %>">
            <span class="ion-ios-pricetag fontSize10 marginRight2 textOpacity1"></span>
            <%= polyglot.t('ViewListing') %>
          </div>          
        <% } %>
      </div>
    </div>
  </div>
</div>
