<div class="flexRow">
  <div class="flexRow bar barTxt pad20">
    <a class="js-returnToStore"><%= polyglot.t('All') %> <%= polyglot.t('Items') %></a>&nbsp;>&nbsp;<%= vendor_offer.listing.item.title %>
  </div>
</div>
<div class="flexRow flex-border">
  <div class="flexRow flexExpand">
    <div class="flexCol-5 pad20">
      <div class="itemImg itemImg-large row10 rowTop20 box-border"
      <% if(vendor_offer.listing.item.image_hashes.length > 0) { %>
      style="background-image: url(<%- server %>get_image?hash=<%- vendor_offer.listing.item.image_hashes[0] %>);"
      <%}%>></div>
      <div class="flexRow row20">
        <% _.each(vendor_offer.listing.item.image_hashes, function(data, i) {
        if(i != 0){%>
        <div class="itemImg itemImg-small" style="background-image: url(<%- server %>get_image?hash=<%- data %>);"></div>
        <% } }); %>
        <div class="itemImg itemImg-small box-border"><i class="ion-plus-circled icon-centered icon-large txt-fade"></i> </div>
      </div>
    </div>
    <div class="flexCol-7">
      <div class="flex-border">
        <div class="flexRow">
          <div class="flexRow">
            <div class="fieldItem">
              <h5 class="allCaps"><%= polyglot.t('Item') %></h5>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-2">
              <div class="fieldItem">
                <%= polyglot.t('Name') %>
              </div>
            </div>
            <div class="flexCol-10">
              <input type="text" class="fieldItem" value="<%= vendor_offer.listing.item.title %>" required>
            </div>
          </div>
          <div class="flexRow js-inputParent">
            <div class="flexCol-2">
              <div class="fieldItem">
                <%= polyglot.t('Price') %>
              </div>
            </div>
            <div class="flexCol-7">
              <input type="number" step="any" min="0" class="fieldItem js-priceLocal"  id="priceLocal" value="<%= vendor_offer.listing.item.price_per_unit.fiat.price %>" required>
              <input type="number" step="any" min="0" class="fieldItem js-priceBtc hide" id="priceBtc" value="<%= venderBTCPrice %>" required>
            </div>
            <div class="flexCol-3">
              <div class="fieldItem pull-right">
                <div class="btn-togWrapper btn-togWrapper-c1">
                  <a class="btn btn-togLeft btn-txtHalf btn-c1 js-priceBtn-local"><%= vendor_offer.listing.item.price_per_unit.fiat.currency_code %></a>
                  <a class="btn btn-togRight btn-txtHalf btn-c1 inactive  js-priceBtn-btc">btc</a>
                </div>
              </div>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-2">
              <div class="fieldItem">
                <%= polyglot.t('Available') %>
              </div>
            </div>
            <div class="flexCol-10">
              <input type="number" step="any" min="0" class="fieldItem"  value="0" required>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-2">
              <div class="fieldItem">
                <%= polyglot.t('Keywords') %>
              </div>
            </div>
            <div class="flexCol-10">
              <input type="text" class="fieldItem">
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-2">
              <div class="fieldItem">
                <%= polyglot.t('Type') %>
              </div>
            </div>
            <div class="flexCol-10">
              <div class="fieldItem">
                <div class="fieldItem-selectWrapper">
                  <select>
                    <option>--</option>
                    <option>Physical Item</option>
                    <option>Digital Item</option>
                    <option>Service</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-2">
              <div class="fieldItem">
                <%= polyglot.t('Category') %>
              </div>
            </div>
            <div class="flexCol-10">
              <div class="fieldItem">
                <div class="fieldItem-selectWrapper">
                  <select>
                    <option>--</option>
                    <option>Placeholder</option>
                    <option>Placeholder</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-2">
              <div class="fieldItem">
                <%= polyglot.t('Condition') %>
              </div>
            </div>
            <div class="flexCol-10">
              <div class="fieldItem">
                <div class="fieldItem-selectWrapper">
                  <select id="selectCondition">
                    <option>--</option>
                    <option value="New">New</option>
                    <option value="Used">Used</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-2">
              <div class="fieldItem">
                <%= polyglot.t('NSFW') %>?
              </div>
            </div>
            <div class="flexCol-10">
              <div class="fieldItem">
                <div class="fieldItem-selectWrapper">
                  <select id="selectNSFW">
                    <option>--</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-2">
              <div class="fieldItem">
                <%= polyglot.t('Description') %>
              </div>
            </div>
            <div class="flexCol-10">
              <textarea rows="8" class="fieldItem-textarea"><%= vendor_offer.listing.item.description %></textarea>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-2">
              <div class="fieldItem">
                SKU
              </div>
            </div>
            <div class="flexCol-10">
              <input type="text" class="fieldItem" value="<%= vendor_offer.listing.item.sku %>">
            </div>
          </div>
          <div class="flexRow">
            <div class="fieldItem">
              <h5 class="allCaps"><%= polyglot.t('Shipping') %></h5>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-5">
              <div class="fieldItem">
                <%= polyglot.t('ProcessingTime') %>
              </div>
            </div>
            <div class="flexCol-7">
              <input type="text" class="fieldItem" value="<%= vendor_offer.listing.item.process_time %>">
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-5">
              <div class="fieldItem">
                <%= polyglot.t('Free') %> <%= polyglot.t('Shipping') %>
              </div>
            </div>
            <div class="flexCol-7">
              <input type="radio" class="fieldItem" id="shippingFreeTrue" name="shippingFree" /><label for="shippingFreeTrue">Yes</label>
              <input type="radio" class="fieldItem" id="shippingFreeFalse" name="shippingFree" checked/><label for="shippingFreeFalse">No</label>
            </div>
          </div>
          <div class="flexRow js-inputParent">
            <div class="flexCol-5">
              <div class="fieldItem">
                <%= polyglot.t('Local') %> <%= polyglot.t('Price') %>
              </div>
            </div>
            <div class="flexCol-4">
              <input type="number" step="any" min="0" class="fieldItem js-priceLocal" id="shippingPriceLocalLocal"  value="0">
              <input type="number" step="any" min="0" class="fieldItem js-priceBtc hide" id="shippingPriceLocalBtc" value="0">
            </div>
            <div class="flexCol-3">
              <div class="fieldItem pull-right">
                <div class="btn-togWrapper btn-togWrapper-c1">
                  <a class="btn btn-togLeft btn-txtHalf btn-c1 js-priceBtn-local"><%= vendor_offer.listing.item.price_per_unit.fiat.currency_code %></a>
                  <a class="btn btn-togRight btn-txtHalf btn-c1 inactive  js-priceBtn-btc">btc</a>
                </div>
              </div>
            </div>
          </div>
          <div class="flexRow js-inputParent js-shippingPriceRow">
            <div class="flexCol-5">
              <div class="fieldItem">
                <%= polyglot.t('International') %> <%= polyglot.t('Price') %>
              </div>
            </div>
            <div class="flexCol-4">
              <input type="number" step="any" min="0" class="fieldItem js-priceLocal" id="shippingPriceInternationalLocal"  value="0">
              <input type="number" step="any" min="0" class="fieldItem js-priceBtc hide" id="shippingPriceInternationalBtc value="0">
            </div>
            <div class="flexCol-3">
              <div class="fieldItem pull-right">
                <div class="btn-togWrapper btn-togWrapper-c1">
                  <a class="btn btn-togLeft btn-txtHalf btn-c1 js-priceBtn-local"><%= vendor_offer.listing.item.price_per_unit.fiat.currency_code %></a>
                  <a class="btn btn-togRight btn-txtHalf btn-c1 inactive  js-priceBtn-btc">btc</a>
                </div>
              </div>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-5">
              <div class="fieldItem">
                <%= polyglot.t('Local') %> <%= polyglot.t('Shipping') %> <%= polyglot.t('Time') %>
              </div>
            </div>
            <div class="flexCol-7">
              <input type="text" class="fieldItem" value="<%= vendor_offer.listing.shipping.est_delivery.domestic %>"  required>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-5">
              <div class="fieldItem">
                <%= polyglot.t('International') %> <%= polyglot.t('Shipping') %> <%= polyglot.t('Time') %>
              </div>
            </div>
            <div class="flexCol-7">
              <input type="text" class="fieldItem" value="<%= vendor_offer.listing.shipping.est_delivery.international %>">
            </div>
          </div>
          <div class="flexRow">
            <div class="fieldItem">
              <h5 class="allCaps"><%= polyglot.t('Policy') %></h5>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-5">
              <div class="fieldItem">
                <%= polyglot.t('Terms and Conditions') %>
              </div>
            </div>
            <div class="flexCol-7">
              <textarea rows="6" class="fieldItem-textarea"><%= vendor_offer.listing.policy.terms_conditions %></textarea>
            </div>
          </div>
          <div class="flexRow">
            <div class="flexCol-5">
              <div class="fieldItem">
                <%= polyglot.t('Returns') %>
              </div>
            </div>
            <div class="flexCol-7">
              <textarea rows="6" class="fieldItem-textarea"><%= vendor_offer.listing.policy.returns %></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
