<!-- Not sure where this should belong, but I'm using this var in a few places -->
<% 
  var matchedItemShippableCountries = _.uniq(_.intersection(_.pluck(ob.userAddresses, 'country'), ob.ships_to)); 
%>

<div class="gridItem clearfix custCol-border">

  <div class="itemImg row10 color-secondary custCol-secondary overflowHidden js-item <%
  if(ob.userAddresses.length == 0 || matchedItemShippableCountries.length > 0 || ob.ships_to[0] == "ALL" || ob.ships_to.length == 0){ %>textOpacity1<% }else{ %>textOpacity25<% } %>" data-id="<%= ob.contract_hash %>">
    <div class="itemImg <% if(ob.cloak){ %> nsfw <% } %>" style="background-image: url(<%= ob.imageURL %>), url(imgs/defaultItem.png);"></div>
  </div>
  <div class="table <%
  if(ob.userAddresses.length == 0 || matchedItemShippableCountries.length > 0 || ob.ships_to[0] == "ALL" || ob.ships_to.length == 0){ %>textOpacity1<% }else{ %>textOpacity25<% } %>">
    <div>
      <% if(ob.showAvatar) { %>
      <div class="thumbnail-small js-avatar tooltip" data-tooltip="<% if(ob.handle) { %><%= ob.handle %><% }else{ %><%= ob.guid %><% } %>" data-handle="<%= ob.handle %>"
        style="background-image: <% if(ob.avatar_hash && ob.avatarURL) { %> url(<%= ob.avatarURL %>), <% } %>url(imgs/defaultUser.png);"></div>
      <% } %>
      <div class="js-item pad8Left <% if(ob.title.length >= 30) { %>tooltip<% } %>" <% if(ob.title.length >= 30) { %>data-tooltip="<%= ob.title.substring(0, 40) %>"<% } %> data-id="<%= ob.contract_hash %>">
        <div class="textSize14px noOverflow textOpacity1 js-searchTitle"><%= ob.title %></div>
        <div class="textSize13px txt-fade textWeightNormal">
          <%= ob.intlNumFormat(ob.vendorBTCPrice, 4) %> BTC
          <% if(ob.userCurrencyCode != 'BTC'){ %>
          (<%= ob.displayPrice %>)
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="gridItemControls custCol-border custCol-primary">
    <div class="table">
      <div>
        <% if(ob.discover) { %>
          <div class="btn-gridItemControl borderRight custCol-border js-about">
            <span class="ion-ios-book fontSize11 marginRight2 textOpacity1"></span>
            <%= polyglot.t('About') %>
          </div>

          <% if(!ob.micro && !ob.hideFollow){ %>
            <div class="btn-gridItemControl borderRight custCol-border js-userShortUnfollow <% if(!ob.ownFollowing){ %> hide <% } %>">
              <span class="ion-eye-disabled fontSize11 marginRight2 textOpacity1"></span>
              <%= polyglot.t('Unfollow') %>
            </div>
            <div class="btn-gridItemControl borderRight custCol-border js-userShortFollow <% if(ob.ownFollowing){ %> hide <% } %>">
              <span class="ion-person-add fontSize11 marginRight2 textOpacity1"></span>            
              <%= polyglot.t('Follow') %>
            </div>
          <% } %>

          <div class="btn-gridItemControl custCol-border <%= !ob.isBlocked ? 'js-blockUser' : 'js-unblockUser' %>">
            <span class="<%= !ob.isBlocked ? 'ion-sad' : 'ion-happy' %> fontSize11 marginRight2 textOpacity1"></span>
            <%= !ob.isBlocked ? polyglot.t('Block') : polyglot.t('Unblock') %>
          </div>
        <% } %>

        <% if(ob.ownPage){ %>
          <div class="btn-gridItemControl borderRight custCol-border js-itemShortEdit">
            <span class="ion-compose fontSize11 marginRight2 textOpacity1"></span>
            <%= polyglot.t('Edit') %>
          </div>  
          <div class="btn-gridItemControl borderRight custCol-border js-itemShortClone">
            <span class="ion-ios-copy fontSize11 marginRight2 textOpacity1"></span>
            <%= polyglot.t('Clone') %>
          </div>
          <div class="btn-gridItemControl borderRight custCol-border js-itemShortDelete">
            <span class="ion-trash-b fontSize11 marginRight2 textOpacity1"></span>
            <%= polyglot.t('Delete') %>
          </div>
        <% } %>

        <% if(!ob.ownPage && ob.discover === undefined){ %>
          <div class="btn-gridItemControl borderRight custCol-border js-item" data-id="<%= ob.contract_hash %>">
            <span class="ion-ios-pricetag fontSize10 marginRight2 textOpacity1"></span>
            <%= polyglot.t('ViewListing') %>
          </div>          
        <% } %>
      </div>
    </div>
  </div>

  <!-- TEMP CODE - using until we have an API  -->
  <% 
    var types = ["Physical", "Digital", "Service"];
    var type = types[Math.floor(Math.random()*types.length)];
  %>
  <!-- END TEMP CODE  -->

  <div class="listingType color-secondary borderRadius3 js-item <%
    if(ob.userAddresses.length == 0 || matchedItemShippableCountries.length > 0 || ob.ships_to[0] == "ALL" || ob.ships_to.length == 0){ %>textOpacity90<% }else{ %>textOpacity25<% } %>" style="padding: 6px;
      background: #252525;"> 
        <span class="
        <% if(type == "Digital"){ %>
          listingTypeDigital
        <% }else if(type== "Service"){ %>
          listingTypeService
        <% }else{ %>
          listingTypePhysical
        <% } %>"> </span> 
        <%= type %>
  </div>

<!-- TO DO
  - We need to add to the logic to not show this div if the type is digital or service (pending API)
-->
  <% if(ob.userAddresses.length > 0){ %> 
    <% if(matchedItemShippableCountries.length == 0 && ob.ships_to[0] != "ALL" || ob.ships_to.length == 0){ %>
      <div class="listingDoesNotShipToYou">
        <span class="ion-alert-circled fontSize11" style="color: #EFEF4C"></span>
        Does not ship to you
      </div>
    <% } %>
  <% } %>

</div>

<% if(ob.cloak){ %>
<div class="fullCentered btn btn-large custCol-secondary div-fade">
  NSFW
</div>
<% } %>
