<div>
    <div class="thumbnail custCol-border-secondary"
         style="background-image: url(<%- ob.avatarURL %>), url(imgs/defaultUser.png);"></div>
    <div class="notification-body">
        <div class="notification-text"><%- ob.title %></div>
        <%- ob.handle %>
        <%- ob.guid %>
        <%- ob.type %>
        <div class="notification-timestamp"><%- ob.timestamp %></div>
    </div>
    <div class="notification-orderActions hide">
        <button class="notification-orderActionYes"><%= polyglot.t('yes') %></button>
        <button class="notification-orderActionNo"><%= polyglot.t('no') %></button>
    </div>
</div>