<div class="rowItem js-notification padding10
  <% if(ob.read == true){ %>
textOpacity25
  <% } %>">
    <div class="table">
        <div>
            <div class="thumbnail clickable js-avatar custcol-border"
                 style="background-image: url(<%- ob.avatarURL %>), url(imgs/defaultUser.png); height: 50px; width: 50px"></div>
            <div class="txt-lowleading">
                <div class="marginLeft10 marginTop2 clearfix">

                    <% if(ob.type == "follow") { %>
                        <div class="textSize13px">
                        <a class="clickable js-username"><% if(ob.handle) { %>
                        <%- ob.handle %>
                        <% }else{ %>
                        <%- ob.guid %>
                        <% } %></a> <%= polyglot.t('NotificationFollow') %>
                        </div>
                        <div class="textSize11px txt-fade"><%= ob.formattedTimestamp %></div>
                    <% }  else { %>


                    <div class="textSize11px marginRight5 marginBottom2 noOverflow" title="<%- ob.title %>">
                        <strong>Title: <%- ob.title %></strong>
                    </div>
                    <div class="textSize11px txt-fade textWeightNormal">
                        From:
                        <% if(ob.handle) { %>
                        <%- ob.handle %>
                        <% }else{ %>
                        <%- ob.guid %>
                        <% } %>
                    </div>
                    <div class="textSize11px txt-fade">Type: <%- ob.type %></div>
                    <div class="textSize11px txt-fade">Time: <%- ob.timestamp %></div>
                    <% if(ob.order_id){ %>
                    <div class="textSize11px txt-fade"><%- ob.order_id %></div>
                    <% } %>

                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>