<div class="js-orderShort">
  <div class="highlight"></div>
  <div class="rowItem padding2015 highlight js-orderShort">
    <div class="flexRow">
      <div class="table">
        <div>
          <div class="thumbnail thumbnail-large">
            <div class="thumbnail thumbnail-large box-borderBright custCol-border-secondary borderRadius2 borderRadiusBottom0 textOpacity90 clickable js-userShort"
              <% if(ob.thumbnail_hash) { %>
              style="background-image: url(<%- ob.imageUrl %>), url(imgs/defaultItem.png);">
              <% } else { %>
              style="background-image: url(imgs/defaultItem.png);">
              <% } %>
            </div>
          </div>
          <div>
            <div class="marginLeft15 marginTop2 clearFix">
              <div class="floatLeft noOverflow marginBottom2 marginRight5 textSize16px js-searchTitle">
                <%- ob.title %>
              </div>
            </div>
            <div class="marginLeft15 marginRight15 rowTop10">
              <% if(ob.vendor){ %>
              <%= polyglot.t('transactions.SoldBy') %> <%- ob.vendor %>
              <% } else if(ob.buyer) { %>
              <%= polyglot.t('transactions.PurchasedBy') %> <%- ob.buyer %>
              <% } %>
            </div>
            <div class="marginLeft15 marginRight15 marginTop2">
              <div class="fontSize14 txt-fade textWeightNormal txtRow2 clamp2">
                <% if(ob.description) { %>
                  <%= ob.description %>
                <% } else { %>
                  <%= polyglot.t('NoDescriptionAdded') %>
                <% } %>
              </div>
            </div>
          </div>

          <div style="width: 300px;">
            <div class="table tablePadCellRB5">
              <div>
                <div style="width: 100px;"><%= polyglot.t('transactions.OrderID') %></div>
                <div class="noOverflow js-searchOrderID"><strong>#<%- ob.order_id %></strong></div>
              </div>
              <div>
                <div><%= polyglot.t('transactions.OrderDate') %></div>
                <div class="noOverflow"><strong><%- ob.order_date %></strong></div>
              </div>
              <div>
                <div><%= polyglot.t('transactions.OrderStatus') %></div>
                <div class="noOverflow js-searchStatus"><strong><%= polyglot.t('transactions.OrderStatus'+ob.status) %></strong></div>
              </div>
              <div>
                <div><%= polyglot.t('transactions.OrderTotal') %></div>
                <div class="noOverflow"><strong><%- ob.displayPrice %></strong></div>
              </div>
              <% if(ob.cCode != "BTC"){ %>
              <div>
                <div><%= polyglot.t('transactions.OrderTotalInBTC') %></div>
                <div class="noOverflow"><strong><%- ob.btc_total.toFixed(4) %></strong></div>
              </div>
              <% } %>
              <div>
                <% if(ob.transactionType == "purchase" && ob.status == 0){ %>
                <div class="marginLeft15 marginRight15 rowTop10">
                  <a class="btn btn-txt custCol-secondary">
                    <span class="ion-checkmark fontSize11 marginRight2 textOpacity1"></span>
                    <%= polyglot.t('transactions.PayPurchase') %>
                  </a>
                </div>
                <% } else if(ob.transactionType == "sale" && ob.status == 1){ %>
                <div class="marginLeft15 marginRight15 rowTop10">
                  <a class="btn btn-txt custCol-secondary js-orderShortConfirm">
                    <span class="ion-checkmark fontSize11 marginRight2 textOpacity1"></span>
                    <%= polyglot.t('transactions.ConfirmOrder') %>
                  </a>
                </div>
                <% } else if(ob.transactionType == "purchase" && ob.status == 2){ %>
                <div class="marginLeft15 marginRight15 rowTop10">
                  <a class="btn btn-txt custCol-secondary js-orderShortComplete">
                    <span class="ion-checkmark fontSize11 marginRight2 textOpacity1"></span>
                    <%= polyglot.t('transactions.CompleteOrder') %>
                  </a>
                </div>
                <% } %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>