<div class="rowItem padding2015
  <div class="flexRow">
    <div class="table">
      <div>
        <div class="thumbnail thumbnail-large box-borderBright custCol-border-secondary borderRadius2 borderRadiusBottom0 textOpacity90 clickable js-userShort"
          <% if(ob.thumbnail_hash) { %>
          style="background-image: url(<%- ob.imageUrl %>), url(imgs/defaultItem.png);">
          <% } else { %>
          style="background-image: url(imgs/defaultItem.png);">
          <% } %>
        </div>
        <div>
          <div class="marginLeft15 marginTop2 clearFix">
            <div class="floatLeft noOverflow marginBottom2 marginRight5 textSize16px">
              <%- ob.title %>
            </div>
          </div>
          <div class="marginLeft15 marginRight15 marginTop2">
            <div class="fontSize14 txt-fade textWeightNormal txtRow2 clamp2">
              <% if(ob.description) { %>
                <%- ob.description %>
              <% } else { %>
                <%= polyglot.t('NoDescriptionAdded') %>
              <% } %>
            </div>
          </div>
          <div class="marginLeft15 marginRight15 marginTop2">
            <%= polyglot.t('SoldBy') %><a class="textSize14px txt-fade js-userShort" title="<%- ob.guid %>"><%- ob.vendor %></a>
          </div>
        </div>

        <div style="width: 105px;">
          <%= polyglot.t('OrderID') %> #<%- ob.order_id %>
        </div>
      </div>
    </div>
  </div>
</div>