<div <% ob.mode && print(`class="mode-${ob.mode}"`) %>>
  <div class="spinner-with-logo fullCentered" style="color: #fff;"><!-- these icons should not change with the theme-->
    <i class="ion-android-sync spinner fontSize30 spinner-with-logo-icon"></i>
    <i class="ion-alert-circled icon-no-connection fontSize24 spinner-with-logo-icon"></i>
  </div>

  <div class="content">
    <div class="statusText pad10 marginBottom12 inlineBlock fontSize16 custCol-text <% ob.tooltip && print('tooltip') %>" <% ob.tooltip && print(`data-tooltip="${ob.tooltip}"`) %>><%= ob.statusText %></div>

    <div>
      <a class="btn btn-large custCol-secondary custCol-text js-cancel btn-cancel"><%= polyglot.t('Cancel') %></a>
      <a class="btn btn-large custCol-secondary custCol-text js-back btn-back"><%= polyglot.t('Back') %></a>
      <a class="btn btn-large custCol-secondary custCol-text js-retry btn-retry"><%= polyglot.t('TryAgain') %></a>
    </div>
  </div>
</div>