<div class="message-bar positionFixed alignCenter slide-out js-msg-bar">
  <div>
    <span class="message-bar-close ion-android-close clickable marginLeft15 marginTop7 pull-right textOpacity75 alignCenter js-msg-bar-close"></span>
    <!-- <span class="ion-alert marginRight5"></span> -->
    <span class="js-message-bar-content"></span>
  </div>
</div>
<div class="js-header-wrap"></div>
<div class="positionRelative noOverflow">
  <div class="js-config-list-wrap"></div>
  <div class="js-config-form-wrap positionTop server-config-form slide-out"></div>
</div>