<div class="modal-hero modal-shadow-inner1 bg-dark-blue custCol-primary-darken">
  <div class="modal-hero-icon"></div>
  <% if (ob.status == 'trying') { %>
    <p class="h6 homeModal-heroText fancy-heading"><%= polyglot.t('serverConnectModal.statusTryingToConnect') %>...</p>
  <% } else if (ob.status == 'connected') { %>
    <p class="h6 homeModal-heroText fancy-heading"><%= polyglot.t('serverConnectModal.statusConnected') %>.</p>  
  <% } else if (ob.status == 'failed') { %>  
    <p class="h6 homeModal-heroText fancy-heading"><%= polyglot.t('serverConnectModal.statusFailedConnection') %>.</p>
  <% } else if (ob.status == 'failed-auth') { %>  
    <p class="h6 homeModal-heroText fancy-heading"><%= polyglot.t('serverConnectModal.statusFailedAuthentication') %>.</p>
  <% } else if (ob.status == 'failed-auth-too-many') { %>  
    <p class="h6 homeModal-heroText fancy-heading"><%= polyglot.t('serverConnectModal.statusTooManyAttempts') %>.</p>
  <% } %>
  </p>
</div>
<div class="accordion-window" style="left: 0px;">
  <div class="accordion-child accordion-active custCol-primary overflowHidden" style="width: 525px; height: 374px;">
    <div class="bar barTxt h6 custCol-secondary custCol-text">
      <%= polyglot.t('serverConnectModal.serverConfiguration') %>
      <span class="textOpacity75 fontSize14 floatRight">
        <% if (ob.status == 'trying') { %>
          <i class="ion-android-sync spinner"></i> <%= polyglot.t('serverConnectModal.connecting') %>...
        <% } else if (ob.status === 'failed' || ob.status === 'failed-auth') { %>
        <a class="js-retry"><%= polyglot.t('serverConnectModal.retry') %></a>
        <% } %>
      </span>
    </div>
    <div class="flexContainer scrollOverflowYHideX customThemeScrollbar" style="height: 272px">
      <div class="flexRow borderBottom custCol-border">
        <p class="margin0 padding2015"><%= polyglot.t('serverConnectModal.intro') %></p>
      </div>
        <form class="width100" name="serverConfigForm">
          <div class="flexCol-12 flex-border borderBottom">
            <div class="flexRow">
              <% if (ob.errors.server_ip) { %>
              <div class="flexCol-12 error">
                <ul class="padding2015">
                  <% ob.errors.server_ip.forEach(function(err) {
                       print('<li class="list-style-none">' + err + '</li>');
                     }); %>
                </ul>
              </div>
              <% } %>

              <div class="flexCol-3 borderRight custCol-border">
                <div class="fieldItem">
                  <label for="fld_server"><%= polyglot.t('serverConnectModal.serverIP') %></label>
                </div>
              </div>

              <div class="flexCol-9 custCol-border <% ob.errors.server_ip && print('invalid') %>">
                <input name="server_ip" type="text" id="fld_server" placeholder="" class="fieldItem" required="" value="<%= ob.server_ip %>">
              </div>
            </div>

            <div class="flexRow">
              <% if (ob.errors.rest_api_port) { %>
              <div class="flexCol-12">
                <ul class="padding2015">
                  <% ob.errors.rest_api_port.forEach(function(err) {
                       print('<li class="list-style-none">' + err + '</li>');
                     }); %>
                </ul>
              </div>
              <% } %>

              <div class="flexCol-3 borderRight custCol-border">
                <div class="fieldItem">
                  <label for="fld_rest_port"><%= polyglot.t('serverConnectModal.restApiPort') %></label>
                </div>
              </div>

              <div class="flexCol-9 custCol-border <% ob.errors.rest_api_port && print('invalid') %>">
                <input name="rest_api_port" type="text" id="fld_rest_port" placeholder="" class="fieldItem" value="<%= ob.rest_api_port %>">
              </div>
            </div>

            <div class="flexRow">
              <% if (ob.errors.api_socket_port) { %>
              <div class="flexCol-12">
                <ul class="padding2015">
                  <% ob.errors.api_socket_port.forEach(function(err) {
                       print('<li class="list-style-none">' + err + '</li>');
                     }); %>
                </ul>
              </div>
              <% } %>

              <div class="flexCol-3 borderRight custCol-border">
                <div class="fieldItem">
                  <label for="fld_api_socket_port"><%= polyglot.t('serverConnectModal.websocketApiPort') %></label>
                </div>
              </div>

              <div class="flexCol-9 custCol-border <% ob.errors.api_socket_port && print('invalid') %>">
                <input name="api_socket_port" type="text" id="fld_api_socket_port" placeholder="" class="fieldItem" value="<%= ob.api_socket_port %>">
              </div>
            </div>

            <div class="flexRow">
              <% if (ob.errors.heartbeat_socket_port) { %>
              <div class="flexCol-12">
                <ul class="padding2015">
                  <% ob.errors.heartbeat_socket_port.forEach(function(err) {
                       print('<li class="list-style-none">' + err + '</li>');
                     }); %>
                </ul>
              </div>
              <% } %>

              <div class="flexCol-3 borderRight custCol-border">
                <div class="fieldItem">
                  <label for="fld_heartbeat_socket_port"><%= polyglot.t('serverConnectModal.heartbeatSocketApiPort') %></label>
                </div>
              </div>

              <div class="flexCol-9 custCol-border <% ob.errors.heartbeat_socket_port && print('invalid') %>">
                <input name="heartbeat_socket_port" type="text" id="fld_heartbeat_socket_port" placeholder="" class="fieldItem" value="<%= ob.heartbeat_socket_port %>">
              </div>
            </div>            

            <div class="flexRow">
              <% if (ob.errors.username) { %>
              <div class="flexCol-12">
                <ul class="padding2015">
                  <% ob.errors.username.forEach(function(err) {
                       print('<li class="list-style-none">' + err + '</li>');
                     }); %>
                </ul>
              </div>
              <% } %>

              <div class="flexCol-3 borderRight custCol-border">
                <div class="fieldItem">
                  <label for="fld_username"><%= polyglot.t('serverConnectModal.username') %></label>
                </div>
              </div>

              <div class="flexCol-9 custCol-border <% ob.errors.username && print('invalid') %>">
                <input name="username" type="text" id="fld_username" class="fieldItem" value="<%= ob.username %>">
              </div>
            </div>

            <div class="flexRow">
              <% if (ob.errors.password) { %>
              <div class="flexCol-12">
                <ul class="padding2015">
                  <% ob.errors.password.forEach(function(err) {
                       print('<li class="list-style-none">' + err + '</li>');
                     }); %>
                </ul>
              </div>
              <% } %>

              <div class="flexCol-3 borderRight custCol-border">
                <div class="fieldItem">
                  <label for="fld_password"><%= polyglot.t('serverConnectModal.password') %></label>
                </div>
              </div>

              <div class="flexCol-9 custCol-border <% ob.errors.password && print('invalid') %>">
                <input name="password" type="password" id="fld_password" class="fieldItem" value="<%= ob.password %>">
              </div>
            </div>                        
           </div>
        </form>
    </div>

    <div class="bar barFlush borderBottomLeftRaidus3 borderBottomRightRaidus3">
      <a class="btn btn-bar btn-half js-restoreDefaults custCol-secondary custCol-border-primary borderBottomLeftRaidus3 custCol-text borderRight" tabindex="0">
        <span class="fontSize10 marginRight2"></span>
        <%= polyglot.t('serverConnectModal.restoreDefaults') %>
      </a>
      <a class="btn btn-bar btn-half js-save custCol-secondary custCol-border-primary borderBottomRightRaidus3 custCol-text" tabindex="0">
        <%= polyglot.t('serverConnectModal.saveChanges') %>
        <span class="fontSize10 marginLeft2 textOpacity75"></span>
      </a>
    </div>

  </div>
</div>