<div class="rowItem padding2015">
  <div class="flexRow">
    <div class="table">
      <div>
        <div style="width: 80px;">
          <div class="thumbnail thumbnail-large custCol-border-secondary borderRadius2 borderRadiusBottom0 textOpacity90 clickable" style="background-image: url(imgs/defaultUser.png);">
          </div>
        </div>
        <div>
          <div class="marginLeft15 noOverflow clearFix">
            <div class="pull-left lineHeight21">
              <a class="<% if(ob.micro){ %>textSize10<% }else{ %>textSize14px<% } %> txt-fade">Happy Hippo</a>
            </div>
          </div>
          <div class="marginLeft15 marginRight15 marginTop2 <% if(ob.micro){ %>textSize10<% }else{ %>fontSize14<% } %> txt-fade textWeightNormal">
            <div class="clamp2">Charlie says hello, no mo no mo no mo.</div>
          </div>
        </div>
        <div style="width: 105px;">
          <div>
            <a class="btn btn-txt btn-secondary custCol-secondary pull-right fontSize13">
              Boom Selector
              <span class="ion-chevron-right fontSize8 marginLeft2 textOpacity1"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>