<div class="modal modal-opaque js-storeWizardModal">
  <div class="modal-child modal-childMain">
    <div class="btn-cornerTR btn-cornerTROutR btn-flushTop js-closeStoreWizardModal">
      <h2 class="ion-close-round"></h2>
    </div>
    <div class="modal-hero">
      <form id="userPageImageForm">
        <label for="userPageImageUpload" class="btn btn-c1 btn-txt fullCentered js-itemCustomizationButtons"><%= polyglot.t('UploadCoverPhoto') %> (959px x 400px)</label>
        <input type="file" name="image" id="userPageImageUpload" accept="image/*" class="hide js-userPageImageUpload">
      </form>
    </div>
    <div class="homeModal-accordion accordion js-storeWizardAccordion">
      <div class="accordion-window">
        <div class="accordion-child">
          <div class="bar barTxt h6">
            <%= polyglot.t('CreateStore') %>
          </div>
          <div class="flexContainer flex-border homeModal-settings homeModal-settings-noSearch scrollOverflow">
            <div class="flexRow \">
                <div class="flexCol-4">
                  <label class="fieldItem" for="storeName">
                    <%= polyglot.t('Store') %> <%= polyglot.t('Name') %>
                  </label>
                </div>
                <div class="flexCol-8">
                  <input name="storeName" id="storeName" type="text" class="fieldItem" value="<%= ob.page.profile.name %>" placeholder="My Store" required>
                </div>
            </div>
            <div class="flexRow \">
              <div class="flexCol-4">
                <label class="fieldItem fieldItem-multiLine" for="storeDescription">
                  <%= polyglot.t('ShortDescription') %><br/>
                  <span class="txt-fade">(<%= polyglot.t('UpTo140Characters') %>)</span>
                </label>
              </div>
              <div class="flexCol-8">
                <textarea name="storeDescription" rows="8" id="storeDescription" class="fieldItem-textarea" maxlength="140" required></textarea>
              </div>
            </div>
            <div class="flexRow \">
              <div class="flexCol-4">
                <div class="fieldItem">
                  <%= polyglot.t('PrimaryColor') %>
                </div>
              </div>
              <div class="flexCol-8 js-customizeColorWrapper">
                <label class="fieldItem btn btn-squareSm box-borderBright js-customizeColorLabel" for="primary_color"></label>
                <input class="fieldItem fieldItem-withButton js-customizeColorInput" type="text" id="primary_color" size="7"/>
              </div>
            </div>
            <div class="flexRow \">
              <div class="flexCol-4">
                <div class="fieldItem">
                  <%= polyglot.t('SecondaryColor') %>
                </div>
              </div>
              <div class="flexCol-8">
                <div class="flexCol-8 js-customizeColorWrapper">
                  <label class="fieldItem btn btn-squareSm box-borderBright js-customizeColorLabel" for="secondary_color"></label>
                  <input class="fieldItem fieldItem-withButton js-customizeColorInput" type="text" id="secondary_color" size="7"/>
                </div>
              </div>
            </div>
            <div class="flexRow \">
              <div class="flexCol-4">
                <div class="fieldItem">
                  <%= polyglot.t('TextColor') %>
                </div>
              </div>
              <div class="flexCol-8">
                <input name="storeName" type="text" class="fieldItem" value="" required>
              </div>
            </div>
            <div class="flexRow \">
              <div class="flexCol-4">
                <div class="fieldItem">
                  <%= polyglot.t('BackgroundColor') %>
                </div>
              </div>
              <div class="flexCol-8">
                <input name="storeName" type="text" class="fieldItem" value="" required>
              </div>
            </div>
            <div class="flexRow \">
              <div class="flexCol-4">
                <div class="fieldItem">
                  <%= polyglot.t('Store') %> <%= polyglot.t('Name') %>
                </div>
              </div>
              <div class="flexCol-8">
                <input name="storeName" type="text" class="fieldItem" value="" required>
              </div>
            </div>
          </div>
          <div class="bar barFlush">
            <a class="btn btn-bar btn-half js-closeStoreWizardModal"><%= polyglot.t('Cancel') %></a>
            <a class="btn btn-bar btn-half js-accordionNext"><%= polyglot.t('Next') %></a>
          </div>
        </div>
        <div class="accordion-child">
          <div class="bar barTxt h6">
            <%= polyglot.t('onboarding.disclaimer_title') %>
          </div>
          <div class="flexContainer homeModal-settings homeModal-settings-noSearch">
            <div class="flexRow">
              <div class="rowItem">
                <p class="margin0"><%= polyglot.t('onboarding.disclaimer_body') %></p>
              </div>
            </div>
          </div>
          <div class="bar barFlush">
            <a class="btn btn-bar btn-half js-accordionPrev"><%= polyglot.t('Back') %></a>
            <a class="btn btn-bar btn-half js-accordionNext"><%= polyglot.t('Next') %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>