<div class="mainContainer custCol-background">

  <div class="userBar">
    <div class="title-section custCol-primary shadow-inner1-ultra-light">
      <div class="thumbnail pull-left"
      <% if(ob.page.avatar_hash) { %>
      style="background-image: url(<%- ob.user.serverUrl %>get_image?hash=<%- ob.page.avatar_hash %>), url(imgs/defaultUser.png);">
      <% } else { %>
      style="background-image: url(imgs/defaultUser.png);">
      <% } %>
    </div>
    <h1 class="fancy-heading fontSize20 vCentered"><%= polyglot.t('Transactions') %></h1>
    <a href="#userPage" class="btn btn-txt custCol-secondary positionWrapper pull-right right10 marginTop9 marginLeft6">
      <span class="ion-document-text fontSize11 marginRight2 textOpacity1"></span>
      <%= polyglot.t('GoToMyPage') %>
    </a>
    <a href="#settings" class="btn btn-txt custCol-secondary positionWrapper pull-right right10 marginTop9 marginLeft6">
      <span class="ion-toggle-filled fontSize11 marginRight2 textOpacity1"></span>
      <%= polyglot.t('nav.settings') %>
    </a>
  </div>
</div>

<div class="bar navBar barFlush custCol-secondary clearFix height55">
  <a class="btn btn-bar btn-tab custCol-secondary js-tab js-purchasesTab active" data-tab="purchases">
    <span class="ion-log-out fontSize11 marginRight2 textOpacity1"></span>
    <%= polyglot.t('Purchases') %>
  </a>
  <% if(ob.page.vendor){ %>
  <a class="btn btn-bar btn-tab custCol-secondary js-tab js-salesTab" data-tab="sales">
    <span class="ion-log-in fontSize11 marginRight2 textOpacity1"></span>
    <%= polyglot.t('Sales') %>
  </a>
  <% } %>
  <% if(ob.page.moderator){ %>
  <a class="btn btn-bar btn-tab custCol-secondary js-tab js-casesTab" data-tab="cases">
    <span class="ion-toggle-filled fontSize11 marginRight2 textOpacity1"></span>
    <%= polyglot.t('Cases') %>
  </a>
  <% } %>
</div>

<div class="flexContainer color-primary custCol-primary minHeight650">

      <div class="flexRow flex-border js-tabTarg js-purchases" id="transactionsPurchases">
        <div class="positionWrapper width100">
          <div class="txtFieldWrapper searchWrapper searchWrapperWithPill borderBottom">
            <input type="text" class="txtField txtField-bar search" placeholder="<%= polyglot.t('transactions.searchByOrder') %>" />
            <a class="btn-corner btn-cornerTR ion-close-circled vCentered icon-med hide js-transactionsSearchClear textOpacity50"></a>
          </div>
          <div class="selectPill positionTop rowTop10">
            <select class="custCol-secondary js-transactionFilter" data-tab="purchases">
              <option value="all"><%= polyglot.t('transactions.sortByStatusAll') %></option>
              <option value="0"><%= polyglot.t('transactions.sortByStatus0') %></option>
              <option value="1"><%= polyglot.t('transactions.sortByStatus1') %></option>
              <option value="2"><%= polyglot.t('transactions.sortByStatus2') %></option>
              <option value="3"><%= polyglot.t('transactions.sortByStatus3') %></option>
              <option value="4"><%= polyglot.t('transactions.sortByStatus4') %></option>
              <option value="dateNewest"><%= polyglot.t('transactions.sortByDateNewest') %></option>
              <option value="dateOldest"><%= polyglot.t('transactions.sortByDateOldest') %></option>
            </select>
          </div>
        </div>
      </div>

      <div class="flexRow flex-border positionWrapper js-tabTarg js-sales hide" id="transactionsSales">
        <div class="positionWrapper width100">
          <div class="txtFieldWrapper searchWrapper searchWrapperWithPill borderBottom">
            <input type="text" class="txtField txtField-bar search" placeholder="<%= polyglot.t('transactions.searchByOrder') %>" />
            <a class="btn-corner btn-cornerTR ion-close-circled vCentered icon-med hide js-transactionsSearchClear textOpacity50"></a>
          </div>
          <div class="selectPill positionTop rowTop10">
            <select class="custCol-secondary js-transactionFilter" data-tab="sales">
              <option value="all"><%= polyglot.t('transactions.sortByStatusAll') %></option>
              <option value="0"><%= polyglot.t('transactions.sortByStatus0') %></option>
              <option value="1"><%= polyglot.t('transactions.sortByStatus1') %></option>
              <option value="2"><%= polyglot.t('transactions.sortByStatus2') %></option>
              <option value="3"><%= polyglot.t('transactions.sortByStatus3') %></option>
              <option value="4"><%= polyglot.t('transactions.sortByStatus4') %></option>
              <option value="dateNewest"><%= polyglot.t('transactions.sortByDateNewest') %></option>
              <option value="dateOldest"><%= polyglot.t('transactions.sortByDateOldest') %></option>
            </select>
          </div>
        </div>
      </div>

      <div class="flexRow flex-border positionWrapper hide js-tabTarg js-cases" id="transactionsCases">
        <div class="positionWrapper width100">
          <div class="txtFieldWrapper searchWrapper searchWrapperWithPill borderBottom">
            <input type="text" class="txtField txtField-bar search" placeholder="<%= polyglot.t('transactions.searchByOrder') %>" />
            <a class="btn-corner btn-cornerTR ion-close-circled vCentered icon-med hide js-transactionsSearchClear textOpacity50"></a>
          </div>
          <div class="selectPill positionTop rowTop10">
            <select class="custCol-secondary js-transactionFilter" data-tab="cases">
              <option value="all"><%= polyglot.t('transactions.sortByStatusAll') %></option>
              <option value="0"><%= polyglot.t('transactions.sortByStatus0') %></option>
              <option value="1"><%= polyglot.t('transactions.sortByStatus1') %></option>
              <option value="2"><%= polyglot.t('transactions.sortByStatus2') %></option>
              <option value="3"><%= polyglot.t('transactions.sortByStatus3') %></option>
              <option value="4"><%= polyglot.t('transactions.sortByStatus4') %></option>
              <option value="dateNewest"><%= polyglot.t('transactions.sortByDateNewest') %></option>
              <option value="dateOldest"><%= polyglot.t('transactions.sortByDateOldest') %></option>
            </select>
          </div>
        </div>
      </div>

</div>
<div class="navBar custCol-secondary" style="padding: 4px 0"></div>
</div>

<div class="modalHolder hide js-transactionModalHolder"></div>
