<div class="mainContainer">
  <div class="banner-large shadow-inner1"
  <% if(typeof(page.bannerImg) !== "undefined" && page.bannerImg) { %>
  style="background-image: url(<%- page.bannerImg %>);"
  <% }else{ %>
  style="background-image: url(imgs/defaultBanner.png)"
  <% } %>>
    <div class="flexRow align-bottom">
      <div class="rowItem">
        <div class="thumbnail thumbnail-large"
        <% if(typeof(user.avatar_hash) !== "undefined" && user.avatar_hash) { %>
        style="background-image: url(<%- user.avatar_hash %>);"
        <% }else{ %>
        style="background-image: url(imgs/defaultUser.png)"
        <% } %>></div>
        <div class="pull-left">
          <div class="vCentered">
            <h1 class="h3 unbold txt-unleaded"><%= user.name %></h1>
            <div class="txt-fade"><%= user.handle %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bar navBar barFlush navBar">
    <a class="btn btn-bar active js-about js-tab"><%= polyglot.t('About') %></a>
    <a class="btn btn-bar js-followers js-tab"><%= polyglot.t('Followers') %></a>
    <a class="btn btn-bar js-following js-tab"><%= polyglot.t('Following') %></a>
    <a class="btn btn-bar js-stores js-tab"><%= polyglot.t('Store') %></a>
    <div class="navEnd pad15">
      <div class="nav-ctrlGroup">
        <a class="btn btn-txt"><%= polyglot.t('Edit') %></a>
      </div>
      <div class="nav-ctrlGroup">
        <a class="btn btn-txt"><%= polyglot.t('Delete') %></a>
      </div>
    </div>
  </div>
<div>
<div>
  <div class="flexContainer js-about js-tabTarg">
    <div class="flexRow">
      <div class="rowItem">
        <%= polyglot.t('userPage.about') %>
      </div>
    </div>
  </div>
  <div class="flexContainer flex-border js-followers js-tabTarg hide">
    <div class="flexRow js-list1"></div>
  </div>
  <div class="flexContainer flex-border js-following js-tabTarg hide">
    <div class="flexRow js-list2"></div>
  </div>
  <div class="flexContainer flex-border js-store js-tabTarg hide">
    <div class="flexRow js-list3"></div>
  </div>

</div>
<div class="navBar"></div>