<div class="rowItem padding2015
      <% if(ob.isBlank) { %>
      js-blankMod
       <% } %>"
       data-guid="<%= ob.guid %>">
  <div class="flexRow">
    <div class="table">
      <div>
        <% if(ob.isModerator){ %>
        <div style="width: 38px;">
          <input type="checkbox" id="userCheckInput<%- ob.userCount %>" class="fieldItem" data-guid="<%- ob.guid %>"
          <% if(ob.existingModerator){ %>
          checked
          <% } %>
          >
          <label for="userCheckInput<%- ob.userCount %>">
        </div>
        <% } %>
        <div
        <% if(ob.micro){ %>
        style="width: 54px;"
        <% } else { %>
        style="width: 80px;"
        <% } %>
        >
          <div class="thumbnail
          <% if(!ob.micro){ %>
          thumbnail-large
          thumbnail-largeTrimmed
          <% } else { %>
          thumbnail-small
          <% } %>
          custCol-border-secondary borderRadius2 borderRadiusBottom0 textOpacity90 clickable js-userShort"
            <% if(ob.avatar_hash) { %>
            style="background-image: url(<%- ob.avatarURL %>), url(imgs/offlineUser.png);">
            <% } else { %>
            style="background-image: url(imgs/defaultUser.png);">
            <% } %>
          </div>
        <% if(!ob.micro && !ob.hideFollow){ %>
          <a class="btn btn-txt btn-secondary custCol-secondary textOpacity65 btn-latched js-userShortUnfollow padding0 <% if(!ob.ownFollowing){ %> hide <% } %>">
            <span class="ion-eye-disabled fontSize10 marginRight2 textOpacity1"></span>
            <%= polyglot.t('Unfollow') %>
          </a>
          <a class="btn btn-txt btn-secondary custCol-secondary textOpacity65 btn-latched js-userShortFollow padding0 <% if(ob.ownFollowing){ %> hide <% } %>">
            <span class="ion-person-add fontSize10 marginRight2 textOpacity1"></span> 
            <%= polyglot.t('Follow') %>
          </a>
        <% } %>
        </div>
        <div>
          <div class="marginLeft15 noOverflow marginTop2 clearFix">
            <div class="floatLeft  marginBottom2 marginRight5">
              <a class="textSize16px capitalize js-userShort js-searchName" title="<%- ob.name %>"><%- ob.name %></a>
            </div>
            <% if(ob.handle) { %>
              <div class="pull-left lineHeight21">
                <a class="textSize14px txt-fade js-userShort js-searchHandle" title="<%- ob.handle %>"><%- ob.handle %></a>
              </div>
            <% }else{ %>
              <div class="noOverflow pull-left lineHeight21 width110">
                <a class="textSize14px txt-fade js-userShort" title="<%- ob.guid %>"><%- ob.guid %></a>
              </div>
            <% } %>
          </div>
          <div class="marginLeft15 marginRight15 marginTop2">
            <% if(ob.short_description) { %>
              <div class="fontSize14 txt-fade textWeightNormal clamp4"><%- ob.short_description %></div>
            <% } else { %>
              <div class="fontSize14 txt-fade textWeightNormal"><%= polyglot.t('NoDescriptionAdded') %></div>
            <% } %>
          </div>
        </div>

        <div style="width: 105px;">
          <a class="btn btn-txt btn-secondary custCol-secondary pull-right fontSize13 js-userShort">
            <%= polyglot.t('Visit') %>
            <span class="ion-chevron-right fontSize8 marginLeft2 textOpacity1"></span> 
          </a>
        </div>
      </div>
    </div>
  </div>
</div>